﻿.cart-items {
    button {
        width: auto;
        padding: 8px 20px;
        min-width: 150px;
        border: 1px solid transparent;

        &.inverse {
            background-color: $white;
            color: $black;
            border: 1px solid $black;
        }

        &.big-font {
            letter-spacing: 1.5px;
            font-size: 16px;
        }

        + button {
            margin-left: 15px;
        }

        &.btn-export {
            font-size: 16px;
        }
    }

    .cart-header {
        padding: 7px 0;
        -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);

        h1 {
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 1.3px;
            text-transform: uppercase;
            color: $black;
        }

        .cart-summary-el {
            text-align: left;

            p {
                margin: 0;
                font-size: 15px;

                &.el-title {
                    text-transform: uppercase;
                    font-size: 14px;
                }

                &.el-content {
                    font-weight: 700;
                    color: $black;
                    font-size: 20px;
                }
            }
        }
    }

    .cart-items-table {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 50px;

        thead {
            border-bottom: 2px solid $gray-lighten-1;

            th {
                min-width: 25px;
                font-weight: 400;
                font-size: 14px;
                text-transform: uppercase;
                padding: 5px 2px;

                &.empty {
                    width: 15px;
                }

                &.units-sizes-header {
                    width: 320px;
                }

                .filter-dropdown {

                    &.open {
                        button {
                            background: transparent;
                            box-shadow: none;
                            border: 1px solid $gray-lighten-1;
                            border-bottom-color: transparent;
                        }
                    }

                    button {
                        min-width: 85px;
                        border-radius: 0;
                        border: 1px solid $gray-lighten-1;
                        padding: 5px 5px;
                        text-align: left;

                        &:focus,
                        &:active,
                        &:hover {
                            background: transparent;
                            box-shadow: none;
                        }

                        span {
                            position: absolute;
                            right: 5px;
                            top: 9px;
                        }
                    }

                    .dropdown-menu {
                        margin: 0;
                        border-radius: 0;
                        border-top: 0;
                        min-width: 85px;
                        padding: 2px 0;
                    }

                    li {
                        a {
                            padding: 3px 5px;
                            text-transform: none;
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        tbody {
            tr.cart-item {
                border-bottom: 1px solid $gray-lighten-1;
                position: relative;

                &.inactive {
                    td {
                        position: relative;

                        .overlay {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: 2;
                            background: $white;
                            opacity: 0.7;
                            visibility: visible;
                        }
                    }

                    &:hover {
                        .overlay {
                            visibility: hidden;
                            opacity: 0;
                            transition: visibility 0s 0.4s, opacity 0.4s linear;
                        }
                    }
                }

                &.open {
                    td {
                        vertical-align: top;

                        &.items {
                            .more-info {
                                display: block;
                            }
                        }

                        &.prices {
                            .more-info {
                                display: block;
                            }
                        }

                        &.units-sizes {
                            .gradient {
                                display: none;
                            }

                            .more-units-sizes {
                                display: block;
                            }
                        }

                        &.actions {
                            .more-actions {
                                display: block;
                            }
                        }
                    }
                }

                td {
                    padding: 5px 2px;
                    vertical-align: top;

                    p {
                        margin: 0;
                    }

                    .name {
                        font-weight: 700;
                        color: $black;
                        font-size: 18px;
                        cursor: pointer;
                    }

                    .brand {
                        font-size: 18px;
                    }

                    &.items {
                        .more-info {
                            display: none;

                            .details-info {
                                font-size: 14px;

                                .details-info-label {
                                    text-transform: uppercase;
                                    color: $black;
                                    padding-right: 5px;
                                    font-weight: 700;
                                }
                            }
                        }
                    }

                    &.prices {
                        .more-info {
                            display: none;

                            .details-info {
                                font-size: 14px;

                                .details-info-label {
                                    text-transform: uppercase;
                                    color: $black;
                                    padding-right: 5px;
                                    font-weight: 700;
                                }
                            }
                        }
                    }

                    .unit-price {
                        font-weight: 700;
                        color: $black;
                        font-size: 16px;

                        span {
                            font-weight: normal;
                            font-size: 14px;
                            color: $gray-lighten-2;
                            padding-left: 5px;
                        }
                    }

                    .discount {
                        font-size: 16px;

                        .discount-percentage {
                            font-weight: 700;
                            color: $black;
                        }

                        span {
                            font-weight: normal;
                            font-size: 14px;
                            color: $gray-lighten-2;
                            padding-left: 5px;
                        }
                    }

                    .price {
                        font-weight: 700;
                        color: $black;
                        font-size: 20px;
                    }

                    &.item-image {
                        width: 90px;
                        text-align: center;
                        padding: 5px 0;

                        img {
                            width: 100%;
                            max-width: 40px;
                        }

                        .more-details {
                            cursor: pointer;
                            font-size: 14px;

                            i {
                                margin-right: 2px;
                            }
                        }
                    }

                    &.actions {
                        vertical-align: top;

                        .more-actions {
                            display: none;
                        }

                        i {
                            color: $gray-lighten-1;
                            cursor: pointer;

                            & + i {
                                margin-left: 2px;
                            }

                            &.fa-times-circle {
                                color: $light-red;
                            }

                            &.fa-check-circle {
                                color: $light-green;
                            }
                        }
                    }

                    &.units-sizes {
                        vertical-align: top;
                        position: relative;
                        font-size: 14px;

                        .qty-sizes {
                            cursor: pointer;

                            .qty-sizes-menu {
                                width: 100%;
                                max-width: 280px;
                            }

                            & + .qty-sizes {
                                margin-top: 5px;
                            }
                        }

                        .units-size-info {
                            margin: 0;
                            border: 1px solid $black;
                            padding: 0 10px;

                            .bold {
                                font-weight: 700;
                            }

                            .unit-count {
                                text-transform: uppercase;

                                span {
                                    color: $black;
                                }
                            }

                            .units-price {
                                font-weight: bold;
                                color: $black;
                            }

                            .total-price {
                                color: $black;
                            }

                            .col-md-3 {
                                padding: 2px 0;
                                line-height: 15px;
                            }
                        }

                        .more-units-sizes {
                            display: none;
                            margin-top: 5px;
                        }

                        .gradient {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: 2;
                            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
                        }
                    }
                }
            }
        }
    }
}
