﻿
.top-header {

    .box-control {
        line-height: 18px;
        padding-top: 5px;

        ul {

            .username {

                .btn-changes {
                    vertical-align: initial;

                    .dropdown-menu {
                        min-width: 120px;
                        border-radius: 0;
                        border-color: $gray-lighten-1;
                        padding: 10px 0;
                        margin-top: 0;

                        li {
                            a {
                                padding: 0 10px;
                                font-size: 14px;
                                line-height: 24px;

                                i {
                                    font-size: 12px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }

                    button {
                        font-size: 12px;
                        text-transform: uppercase;
                        font-weight: 700;
                        letter-spacing: 1px;
                        padding: 0;
                        border: 0;
                        line-height: 18px;
                        border-radius: 0;
                        background: none;
                        box-shadow: none;
                        border-top: 3px solid transparent;
                        padding: 0px 10px;
                        line-height: 14px;

                        &:hover,
                        :active,
                        :focus {
                            background: none;
                        }
                    }

                    &.open {
                        button {
                            box-shadow: none;
                            border: 1px solid $gray-lighten-1;
                            border-top: 3px solid $black;
                            border-bottom: 0;
                            z-index: 2;
                            background: $white;
                        }

                        .dropdown-menu {
                            z-index: 1;
                            top: 95%;
                        }
                    }
                }
            }

            .type {
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-style: italic;
                padding-left: 10px;
            }

            .language {
                text-transform: uppercase;
                padding-left: 10px;

                span {
                    background: $black;
                    color: $white;
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 1px;
                    padding: 0 5px;
                }
            }
        }

        .linesheet {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
        }

        .mini-cart {

            .cart-link {
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1px;
                text-align: right;

                span {
                    font-weight: 700;
                }

                .items-cart {
                    padding-left: 5px;
                }
            }
        }
    }
}

.luxury-nav {
    background-color: $black;
    text-align: center;
    padding: 13px 0;
    margin-bottom: 0px;

    li {
        display: inline-block;
        padding: 0 21px;

        a {
            color: $white;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-size: 15px;
            line-height: 30px;

            .search-icon {
                padding-left: 10px;
            }
        }

        .active {
            font-weight: 700;
        }
    }
}

.banner-content-home {

    .banner {
        background-image: url("../images/slides/12.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        max-width: 100%;

        .banner-text {
            text-transform: uppercase;
            position: relative;
            top: 150px;
            text-align: center;
        }

        h3 {
            font-size: 60px;
            font-weight: 700;
            color: $black;
            letter-spacing: 0.05em;
            margin-bottom: 15px;
            margin-top: 0;
        }

        span {
            display: block;
            font-size: 24px;
            letter-spacing: 1px;
            margin-bottom: 30px;
        }

        .shop-button {
            padding: 8px 15px;
        }

        a {
            font-size: 24px;
            width: auto;
            cursor: pointer;
        }

        a:hover {
            color: $white;
        }
    }
}

.home-content {

    .product-banner {
        background-image: url("../images/home/burberry.jpg");
        height: 795px;
    }

    .product-one {
        background-image: url("../images/home/lv.jpg");
        height: 390px;
    }

    .product-two {
        background-image: url("../images/home/tomford.jpg");
        height: 390px;
    }

    .product-three {
        background-image: url("../images/home/spring-trends.jpg");
        height: 390px;
    }

    .product-four {
        background-image: url("../images/home/lanvin.jpg");
        height: 390px;
    }

    .product-three:hover, .product-four:hover {
        .effect {
            color: $black;
        }
    }

    .product-category {
        min-width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 15px;
        display: block;
        position: relative;
    }

    .product-category:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.3);
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .product-category:hover:before {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .text {
        position: relative;
        top: 50%;
        color: $white;
        font-size: 45px;
        font-weight: 700;
        letter-spacing: 0.2em;
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        text-decoration: none;
        z-index: 4;
    }

    .bestsellers-section {

        .item-caption {
            position: relative;
            top: 10px;
            margin-top: 35px;
            letter-spacing: 1px;
            text-align: center;

            .item-brand {
                font-size: 14px;
                color: $black;
                display: block;
            }

            .item-brand:hover {
                text-decoration: underline;
            }

            .item-name {
                font-size: 16px;
                color: $middle-gray;
            }

            .item-price {
                font-size: 15px;
                color: $middle-gray;

                span {
                    font-size: 18px;
                    font-weight: 700;
                    font-style: italic;
                    color: $black;
                }
            }
        }
    }
}
