﻿
.product-information {
    letter-spacing: 0.05em;
    line-height: 30px;
    color: $black;

    p {
        font-weight: 600;
        text-transform: capitalize;
        margin: 0;

        span {
            font-weight: 400;
            padding-left: 5px;
            color: $dark-gray-1;
            margin: 0;
            line-height: 24px;
        }

        .multiple {
            text-transform: lowercase;
            padding-left: 0;
        }

        .specials {
            color: $medium-blue;
            text-decoration: underline;
        }

        .description-product {
            display: block;
            padding-left: 0;
            text-transform: none;
            letter-spacing: 0.08em;
        }
    }
}


.btn-btn {

    .raport-btn {
        width: 200px;
        background-color: $white;
        border: 1px solid $black;
        color: $black;
    }

    .offer-details-btn {
        width: 200px;

        .arrow {
            right: 30px;
        }
    }
}

.size-image-table {

    p {
        text-transform: capitalize;
        font-weight: 600;
        letter-spacing: 0.05em;
        line-height: 36px;
        color: $black;
        margin-bottom: 20px;

        span {
            text-transform: lowercase;
        }
    }

    .table-size {
        width: 160px;
        text-transform: uppercase;
        background-color: $light-white;
        color: $black;
        letter-spacing: 0.05em;

        tbody {

            tr {

                td {
                    border-top: none;
                    padding: 4px 5px;
                }

                .size-font {
                    text-transform: capitalize;
                }

            }

            tr:hover {
                background-color: $gray-lighten-5;
            }

            tr:last-child {
                background-color: $black;
                color: white;
                font-weight: 600;
            }

            .size-column {
                font-weight: 600;
            }

            .unit-column {
                color: $medium-blue;
                text-decoration: underline;
            }
        }
    }
    .image-pictures {
        padding: 20px 20px;
    }
        
}
