﻿.title-page {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 17px;
    letter-spacing: 0.1em;
    line-height: 36px;
    color: $black;
}

/*.summary-area {
    color: $black;

    .label-properties {
        letter-spacing: 0.05em;
    }

    .input-properties {
        width: initial;
        border: none;
        text-align: left;
        padding: 0;
    }
}*/

.summary-box {
    padding: 10px 15px;
    text-transform: capitalize;
    font-weight: 600;
    color: $black;
    letter-spacing: 0.05em;
    font-size: 13px;
    line-height: 30px;

    p {
    margin: 0;

    span {
        color: $dark-gray-1;
        text-transform: uppercase;
        padding-left: 5px;
        font-weight: 400;
    }
    }
}

.terms-conditions {
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 36px;

    a {
        text-decoration: underline;
    }
}

.publish-btn {
    width: 220px !important;
    margin-left: 55px;
    letter-spacing: 0.08em !important;
}

.box-line {
    border: 1px solid $very-light-gray;
}
