﻿#wrapper {
    margin-left: 260px;

    .details-container {
        margin-top: 50px;

        .review-title {
            font-size: 17px;
            text-transform: uppercase;
            text-align: center;
            line-height: 36px;
            letter-spacing: 0.1em;
            font-weight: 800;
            color: $dark-gray;
            margin-bottom: 25px;
        }

        .form-date-group {
            line-height: 45px;
            padding-right: 0px;

            .data-group {
                display: -webkit-inline-box;
                margin-right: 30px;
            }

            .take-group {
                display: -webkit-inline-box;
                margin-left: 5px;
            }

            .label-text {
                font-weight: 400;
                color: $black;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                padding-right: 10px;
            }

            .date-form {
                width: 36px;
                padding: 0;
                height: 22px;
                border-radius: 1px;
                font-style: italic;
                vertical-align: baseline;
            }

            input:hover::-webkit-input-placeholder {
                color: $black;
            }

            input:hover::-moz-placeholder {
                color: $black;
            }

            .date-form:hover {
                color: $black;
                border-color: $black;
            }

            input:focus {
                border: 1px solid $light-gray;
                outline: none;
                box-shadow: unset;
            }

            .year-input {
                width: 51px;
            }

            .box-input {
                width: 21px;
                height: 21px;
                position: relative;
                right: 5px;
            }
        }

        .border-line-up {
            border-top: 1px solid $very-light-gray;
            outline-offset: 15px;
            padding-top: 5px;
        }

        .border-line-down {
            border-bottom: 1px solid $very-light-gray;
            outline-offset: 15px;
            margin-top: 5px;
        }

        .upload-btn {
            letter-spacing: 0.08em;
            width: 200px;
            margin-left: 20px;
        }

        .information-page {

            .nav-products {
                line-height: 36px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                font-size: 16px;
                margin: 10px 0;

                a.active {
                    font-weight: 700;
                }

                .message-error {
                    color: $red-2;
                }

                a:after {
                    color: $light-gray;
                }

                a:last-child:after {
                    display: none;
                }

                span {
                    font-size: 14px;
                }
            }
        }

        .table-products {
            padding: 0 15px;

            table {
                margin-bottom: 0px;

                thead {
                    background-color: $gray-lighten-5;

                    tr {

                        th {
                            border: 0;
                            line-height: 18px;
                            letter-spacing: 0.05em;
                            font-weight: 400;
                            text-transform: capitalize;
                            text-align: center;
                            color: $black;
                            vertical-align: middle;
                            padding: 8px 10px;
                        }

                        .detail-th {
                            width: 35%;
                            text-align: left;
                        }
                    }
                }

                tbody {

                    tr {
                        text-align: center;
                        color: $black;

                        &.excluded {
                            opacity: 0.4;
                            -webkit-transition: opacity 0.5s ease-in-out;
                            -moz-transition: opacity 0.5s ease-in-out;
                            transition: opacity 0.5s ease-in-out;

                            &:hover {
                                opacity: 1;
                            }
                        }

                        td {
                            text-transform: capitalize;
                            text-align: center;
                            letter-spacing: 0.05em;
                            vertical-align: middle;
                            border-color: $very-light-gray;
                            padding: 15px;

                            .bold-number {
                                font-weight: 600;
                                line-height: 18px;
                            }
                        }



                        .image-size {
                            // width: 10%;
                            .more-details {
                                line-height: 24px;
                                letter-spacing: 0.1em;
                                margin: 0;
                                text-transform: lowercase;
                            }
                        }

                        .details-table {
                            vertical-align: -webkit-baseline-middle;

                            .details-text {
                                text-align: left;
                                line-height: 24px;


                                p {
                                    margin: 0;
                                }

                                .details-brand {

                                }

                                .name-product {
                                    font-size: 16px;
                                    color: $medium-blue;
                                    cursor: pointer;
                                }

                                .bold-name {
                                    font-weight: 600;

                                    span {
                                        font-weight: 400;
                                    }
                                }
                            }
                        }

                        .price-number {
                            color: $medium-blue;
                            text-decoration: underline;
                        }
                    }

                    .total-row {
                        background-color: $light-white;

                        td {
                            border: 0;
                            padding-left: 0;
                            padding: 5px 0;

                            .check-linebuy {
                                margin: 0px;

                                input[type="checkbox"] + label {
                                    padding: 0;
                                    letter-spacing: 0.05em;
                                    line-height: 18px;
                                    margin-right: 10px;
                                }

                                input[type="checkbox"] + label span {
                                    width: 16px;
                                    height: 16px;
                                    margin: 0 5px;
                                }
                            }
                        }
                    }

                    .checkbox-lb {
                        margin: 0px;

                        input[type="checkbox"] + label {
                            padding: 0px;
                        }

                        input[type="checkbox"] + label span {
                            margin: 0px 13px 0px 20px;
                        }
                    }
                }
            }
        }

        .slash {
            padding: 0 5px;
            color: $light-gray;
        }
    }
}

.include-exclude {
    font-size: 16px;
    vertical-align: middle;
    color: $gray-lighten-6;
    top: 1px;
    position: relative;
    cursor: pointer;
}

.include-icon {
    color: $green;
    outline: none;
    box-shadow: unset;
}


.exclude-icon {
    color: $red-1;
    outline: none;
    box-shadow: unset;
}
