﻿.description-container {

    .subtitle-home {

        .align-subtitle {
            text-align: left;
        }
    }
}

.sidebar {

    .sidebar-title {
        font-size: 15px;
        text-transform: uppercase;
        color: $black;
        font-weight: 700;
        margin: 0;
        line-height: 36px;
        letter-spacing: 0.05em;
    }

    .radio-box {
        color: $black;
        font-size: 14px;
        margin: 0;
        line-height: 24px;


        input[type="radio"] + label span {
            width: 11px;
            height: 11px;
            margin-right: 10px;
            border-color: black;
        }

        .radio-label {
            padding-left: 0;
        }

        span {
            margin-left: 0px;
        }
    }

    .check-box {
        margin: 0;
        font-size: 15px;

        input[type="checkbox"] + label span {
            width: 11px;
            height: 11px;
            margin-right: 10px;
            border-color: black;
        }

        label {
            color: $middle-gray;
        }

        label:hover {
            color: $black;
        }

        span {
            margin-left: 0px;
        }
    }

    .font-list {
        font-weight: 600;
        color: $black;

        .apparel-list {
            padding-left: 20px;
            margin-bottom: 5px;
            font-weight: 400;

            li {
                font-size: 15px;
            }
        }
    }

    .caret-right {
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
        border-left: 4px solid $black;
        display: inline-block;
        height: 0;
        opacity: 1;
        width: 0;
        margin-right: 10px;
    }

    .colors {
        display: inline-block;
        width: 20px;
        height: 20px;
    }

    .beige-color {
        background-color: $pale-yellow;
    }

    .black-color {
        background-color: $black;
    }

    .blue-color {
        background-color: $blue;
    }

    .brown-color {
        background-color: $brown;
    }

    .green-color {
        background-color: $green;
    }

    .gray-color {
        background-color: $gray;
    }

    .orange-color {
        background-color: $orange;
    }

    .pink-color {
        background-color: $pink;
    }

    .purple-color {
        background-color: $purple;
    }

    .red-color {
        background-color: $red;
    }

    .yellow-color {
        background-color: $yellow;
    }

    .white-color {
        border: 1px solid $light-gray;
    }
}

.main-content {
    margin-top: 5px;

    .shop-top {
        display: inline-flex;
        width: 100%;
        margin-bottom: 20px;

        .navigation-shop {
            display: inline-flex;

            span {
                margin-right: 5px;
            }

            a:hover {
                color: $moderat-orange;
                -webkit-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
            }

            a:after {
                content: "|";
                padding: 0 5px;
                display: inline-block;
                font-weight: 400;
            }

            a:last-child:after {
                display: none;
            }

            .active {
                font-weight: 700;
            }
        }
    }

    .navigation-pages {

        .nav-pages {
            margin: 0;
            float: right;

            .pages {
                border: none;
                color: $black;
                font-weight: 500;
                padding: 0px 5px;
                line-height: 24px;
                margin-left: 0;
            }

            .pages:hover {
                background-color: $black;
                color: $white;
                border-radius: unset;
            }

            .pages:visited {
                background-color: $black;
                color: $white;
                border-radius: unset;
            }
        }
    }


    .products-list {
        display: inline-flex;

        .product {

            .product-caption {
                text-align: center;
                margin: 35px 0;

                .product-brand {
                    font-size: 14px;
                    color: $black;
                    font-weight: 700;
                    display: block;
                    letter-spacing: 0.05em;
                }

                .product-name {
                    font-size: 16px;
                    color: $middle-gray;
                    letter-spacing: 0.05em;
                }

                .product-price {
                    font-size: 15px;
                    letter-spacing: 0.05em;
                    color: $middle-gray;

                    span {
                        color: $black;
                        font-size: 18px;
                        font-weight: 700;
                        font-style: italic;
                    }
                }
            }
        }
    }
}
