﻿

// Container

.container-pages {

    .navigation {

        a:last-child:after {
            display: none;
        }
    }
}

.product-image {

    .first-image {
        text-align: center;
        margin-top: 40px;
        padding: 0 15px;
    }

    .images {

        .second-image {
            border: 1px solid $black;
            padding: 0;
        }

        .third-image {
            padding: 0;
            opacity: 0.3;
        }
    }

    .product-title {
        color: $black;

        .product-subtitle {
            font-size: 28px;
            font-weight: 700;
            letter-spacing: 0.05em;
            margin: 0px;
            line-height: 36px;
        }

        .brand {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.1em;
        }
    }

    .product-details {
        margin-top: 25px;

        .product-info {
            color: $black;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 0;
            font-size: 16px;

            span {
                text-transform: none;
                font-weight: 400;
                font-size: 16px;
                margin-left: 3px;
                color: $dark-gray;
                letter-spacing: 0.05em;
            }
        }
    }

    .price-details {

        .price {
            font-weight: 700;
            font-size: 20px;
            letter-spacing: 0.1em;
            margin: 0px;
            line-height: 30px;
            color: $black;
        }

        .price-button {
            float: right;
            margin-top: -8px;
            letter-spacing: 0.05em;
            padding: 6px 0;
            width: 100%;
            font-size: 28px;
            font-weight: 800;
            margin-bottom: 10px;
            line-height: 30px;
        }
    }

    .price-info {
        font-weight: 700;
        text-transform: uppercase;
        color: $black;
        line-height: 24px;
        margin: 0px;
        font-size: 16px;

        span {
            text-transform: none;
            font-weight: 400;
            margin: 0 0 0 3px;
            color: $black;
            font-size: 16px;
            letter-spacing: 0.05em;
            line-height: 24px;
        }

        .discount-font {
            margin: 0 0 0 35px;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 0.05em;
        }

        .star-icon {
            margin: 0 !important;
            padding: 0;
            font-size: 14px;
        }

        .star {
            padding-left: 5px;
        }
    }

    .empty-button {
        background-color: $white;
        color: $black;
        border: 1px solid $black;
        padding: 6px 0;
        font-size: 16px;
    }

    .details {
        padding-top: 15px;
        color: $black;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 0.05em;
    }

    .description {
        color: $gray-lighten-3;
        text-transform: none;
        font-weight: 400;
        letter-spacing: 0.05em;
        font-size: 16px;
    }

    .aditional {

        .details-aditional {
            padding-top: 15px;
            color: $black;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 16px;
        }

        .bold-price {
            font-weight: 700;
            font-style: italic;
            font-size: 20px;
            letter-spacing: 0.05em;
        }

        .under-line {
            text-decoration: underline;
        }

        .shopping-btn {
            letter-spacing: 0.1em;
            font-size: 16px;
            padding: 11px 0;
        }
    }

    .arrow-up {
        position: relative;
        left: 25px;
        color: $light-gray;
        font-size: 20px;
    }
}


// Dropdown-menu

.qty-sizes {

    .qty-sizes-menu {
        width: 150%;
        color: $black;
        box-shadow: 0px 0px 25px rgba(0,0,0,0.250);

        .dropdown-title {
            text-transform: uppercase;
            font-weight: 700;
            color: $black;
            margin: 0;
            letter-spacing: 0.5px;
        }

        .dropdown-subtitle {
            text-transform: uppercase;
            color: black;
            font-size: 13px;
        }

        .select-remove {
            font-weight: 700;
            padding: 0 15px;

            .remove {
                text-align: right;
            }
        }

        .detail-order {
            text-transform: uppercase;
            //text-align: center;
        }

        .detail-qty {
            position: relative;
            left: 15px;
        }

        .items {
            font-size: 16px;

            span {
                font-weight: 500;
            }
        }

        .row-items {
            padding: 0 15px;
        }

        .size {
            text-transform: uppercase;
            padding-right: 0;
            color: $light-gray;

            span {
                color: $black;
            }
        }

        .icon {
            color: $light-gray;
            cursor: pointer;
        }

        .icon:hover {
            color: $black;
        }


        .qty-details {
            font-weight: 500;
        }

        .add-button {
            width: 85%;
        }
    }
}
