﻿
.top-register {

    .title {
        font-size: 17px;
        color: $black;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        margin-bottom: 10px;
        text-align: center;
    }

    .sub-title {
        font-size: 16px;
        text-align: center;
        letter-spacing: 1px;
    }
}

.register {

    .buyer-seller {
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-left: 0px;
    }

    .description-box {
        line-height: 42px;
        padding: 10px 15px;
        resize: none;
        height: 65px;
    }

    .double-input {
        .col-md-6:first-child {
            padding-right: 7.5px;
        }

        .col-md-6:last-child {
            padding-left: 7.5px;
        }
    }

    .terms {
        text-align: center;
        font-size: 14px;

        .terms-font {
            font-weight: 400;
            cursor: pointer;

            a {
                display: inline-block;
                text-decoration: underline;
                color: $black;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }
    }
}

.auth-message {
    margin: 140px 0;
    text-align: center;

    .message {
        font-size: 16px;
        letter-spacing: 1px;
    }
}
