﻿.nav-steps {

    .page-steps {

        span {
            color: $black;
            padding: 0px 5px;
        }
    }
}

.report-information {

    .title-report {
        font-size: 17px;
        letter-spacing: 0.1em;
        line-height: 36px;
        font-weight: 600;
        text-transform: uppercase;
        color: $black;
    }

    .info-raport {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.05em;
    }
}

.product-error {

    p {
        font-weight: 600;
        letter-spacing: 0.05em;
        line-height: 30px;
        text-transform: capitalize;
        color: $black;
        margin: 0;

        span {
            font-weight: 400;
            padding-left: 5px;
            color: $middle-gray;
        }
    }

    .textarea-error {
        font-size: 16px;
        font-style: italic;
        letter-spacing: 0.05em;
        line-height: 30px;
        text-align: left;
        padding: 10px 20px;
        resize: none;
        //height: 120px;
        margin-top: 20px;
    }

    ::-webkit-input-placeholder {
            color: $gray;
     }

    .error-btn {
        width: 200px;
        margin-bottom: 70px;
    }

}
