﻿
.supporting-upload {

    .upload-information {
        text-align: center;
        margin-top: 40px;
        letter-spacing: 0.05em;
        color: $black;

        .details-title {
            font-size: 17px;
            font-weight: 800;
            text-transform: uppercase;
            line-height: 36px;
            letter-spacing: 0.1em;
        }

        .note {
            font-size: 16px;
            line-height: 24px;
            color: $dark-gray;
            margin: 0;
        }
    }

    .continue-btn {
        width: 170px;

        .arrow {
            left: 2px;
        }
    }
}
