﻿<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td valign="top" style="font-size:13px;color:#5e5e5e;line-height:180%;padding:20px;">
            <p style="color: #00A7E1;">
                Hi [@PERSONNAME],
            </p>
            <p>Your LuxuryMarket account with the username [@USERNAME] has been deactivated.</p>
            <p>Thank you!</p>
        </td>
    </tr>
</table>
