﻿<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td valign="top" style="font-size:13px;color:#5e5e5e;line-height:180%;padding:20px;">
            <p>
                A reset password request has been made.
                If you did not make this request,
                please disregard this email and nothing will change.
            </p>
        </td>
    <tr>
        <td style="font-size:13px;color:#5e5e5e;line-height:180%;">
            <p>
                <center style="border-top: 1px solid #CCCCCC;border-bottom: 1px solid #CCCCCC;padding:10px 20px;">
                    <a style="color: #000000;" class="linkRemoveBorder" href="[@ACTIVATEURL]">RESET YOUR PASSWORD</a>
                </center>
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top" style="font-size:13px;color:#5e5e5e;line-height:180%;padding:0 20px 20px 20px;">
            <p>Thank you!</p>
        </td>
    </tr>
</table>
