﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 nav-steps">
            <div class="page-steps">
                <a href="#" class="medium-blue-1" ng-click="productdetails.back($event)">offer details</a>
                <a> &#47; large sac du jour</a>
            </div>
            <div class="border-line-down"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 margin-t-20 margin-b-20">
            <div class="row product-information">
                <div class="col-md-4">
                    <p>product name&#58;<span>Large Sac du Jour</span></p>
                    <p>product id&#58;<span class="specials">123456</span></p>
                    <p>brand&#58;<span class="specials">saint laurent</span></p>
                    <p>category&#58;<span>handbags</span></p>
                    <p>color&#58;<span class="specials">black</span></p>
                    <p>material&#58;<span class="specials">leather</span></p>
                    <p>dimensions&#58;<span>12H <span class="multiple">x</span> 10H <span class="multiple">x</span> 4W</span></p>
                </div>
                <div class="col-md-4">
                    <p>origin&#58;<span>italy</span></p>
                    <p>season&#58;<span>S16</span></p>
                    <p>wholesale cost&#58;<span>$2,000</span></p>
                    <p>retail price&#58;<span>$4,000</span></p>
                    <p>offer price&#58;<span class="specials">$2,000</span></p>
                    <p>discount off retail&#58;<span>50%</span></p>
                    <p>total cost on offer&#58;<span>$13,200</span></p>
                </div>
                <div class="col-md-4 align-right btn-btn">
                    <button class="button margin-b-10 raport-btn" ng-click="productdetails.reportError($event)">report error</button><br />
                    <button class="button offer-details-btn" ng-click="productdetails.back($event)"><span class="arrow"><i class="fa fa-angle-left" aria-hidden="true"></i></span>offer details</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 product-information">
                    <p>description&#58;<span class="description-product margin-t-10">Signature Saint Laurent bag with tubular handles, accordion sides, compression strap with tabs and embassed Saint Laurent signature.</span></p>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row margin-t-20">
                <div class="col-md-4 size-image-table">
                    <p>available size <span>and</span> unit details&#58;</p>
                    <table class="table table-size">
                        <tbody>
                            <tr>
                                <td class="size-font size-column">non-size</td>
                                <td class="unit-column">6</td>
                            </tr>
                            <tr>
                                <td class="size-column">s</td>
                                <td class="unit-column">0</td>
                            </tr>
                            <tr>
                                <td class="size-column">m</td>
                                <td class="unit-column">0</td>
                            </tr>
                            <tr>
                                <td class="size-column">l</td>
                                <td class="unit-column">0</td>
                            </tr>
                            <tr>
                                <td class="size-column">xl</td>
                                <td class="unit-column">0</td>
                            </tr>
                            <tr>
                                <td class="size-column">xxl</td>
                                <td class="unit-column">0</td>
                            </tr>
                            <tr>
                                <td class="size-font">total</td>
                                <td>6</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-8 nopadding size-image-table">
                    <p>image details&#58;</p>
                    <div class="row image-pictures">
                        <div class="col-md-3">
                            <img src="../../../assets/images/bag-details-1_03.jpg" alt="bag" />
                        </div>
                        <div class="col-md-3">
                            <img src="../../../assets/images/bag-details-2_03.jpg" alt="bag" />
                        </div>
                        <div class="col-md-3">
                            <img src="../../../assets/images/bag-details-3_09.jpg" alt="bag" />
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
