﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 nav-steps">
            <div class="page-steps">
                <a href="#" ng-click="offersummary.back($event)" class="medium-blue-1">supporting documents</a>
                <a> &#47; offer summary</a>
            </div>
            <div class="border-line-down"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p class="title-page margin-t-40 margin-b-20">offer summary</p>
            <div class="box-line summary-box">
                <p>offer ID&#58;<span>123456</span></p>
                <p>total number of products&#58;<span>40</span></p>
                <p>total number of units&#58;<span>238</span></p>
                <p>total cost offer&#58;<span>$4000</span></p>
                <p>start date&#58;<span>mm&#47;dd&#47;yyyy</span></p>
                <p>end date&#58;<span>mm&#47;dd&#47;yyyy</span></p>
                <p class="margin-0">take all&#58;<span>no</span></p>
            </div>
            <form>
                <div class="text-center">
                    <div class="margin-t-40 form-group">
                        <input type="checkbox" id="terms" />
                        <label for="terms" class="terms-conditions"><span></span>I agree to all offer <a href="#">Terms & Conditions</a></label>
                    </div>
                    <button class="publish-btn button" ng-click="offersummary.publish($event)">publish offering</button>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>