﻿<div class="container-fluid margin-t-40">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p class="title-page margin-t-40 margin-b-20">Published Successfully</p>
            <p class="sent-for-publish">
                Your offer was sent for processing. We will review your offer and respond<br /> within 24 hours. Thank you!
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>