﻿<div class="row margin-t-40">
    <div class="col-md-12">
        <p class="review-title">review offer details</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="border-line-up"></div>
        <div class="row">
            <div class="col-md-9 form-date-group">
                <form class="form-inline">
                    <div class="form-group data-group">
                        <label class="control-label label-text" for="start-date">offer start date&#58;</label>
                        <div>
                            <input type="text" class="form-control date-form" name="month" placeholder="MM" />
                            <span class="slash">&#47;</span>
                            <input type="text" class="form-control date-form active" name="date" placeholder="23" />
                            <span class="slash">&#47;</span>
                            <input type="text" class="form-control date-form year-input" name="year" placeholder="YYYY" />
                        </div>
                    </div>
                    <div class="form-group data-group">
                        <label class="control-label label-text" for="start-date">offer end date&#58;</label>
                        <div>
                            <input type="text" class="form-control date-form" name="month" placeholder="MM" />
                            <span class="slash">&#47;</span>
                            <input type="text" class="form-control date-form" name="date" placeholder="DD" />
                            <span class="slash">&#47;</span>
                            <input type="text" class="form-control date-form year-input" name="year" placeholder="YYYY" />
                        </div>
                    </div>
                    <div class="form-group take-group">
                        <label class="control-label label-text" for="line-buy-285">take all&#58;</label>
                        <input type="text" class="form-control date-form box-input" name="" placeholder="" />
                    </div>
                </form>
            </div>
            <div class="col-md-3 text-right">
                <button class="button upload-btn" ng-click="offerdetails.continue($event)">Continue<span class="arrow padding-l-20"><i class="fa fa-angle-right" aria-hidden="false"></i></span></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 information-page">
        <div class="border-line-down"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="navigation nav-products">
                    <a href="#" ng-click="offerdetails.filterBy($event, filter)" ng-repeat="filter in offerdetails.filters" class="{{filter.cssClass}}" ng-class="{'active' : filter.active}">{{filter.label}} <span>({{filter.count}})</span></a>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 nopadding table-products">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>images</th>
                        <th class="detail-th">details</th>
                        <th>retail<br /> price</th>
                        <th>discount<br /> off retail</th>
                        <th>offer<br /> price</th>
                        <th>units</th>
                        <th>total<br /> cost</th>
                        <th>line<br /> buy</th>
                        <th>include<br /> exclude</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="total-row">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span class="bold-number">28</span>
                        </td>
                        <td>
                            <span class="bold-number">$56.000</span>
                        </td>
                        <td>
                            <form>
                                <div class="checkbox check-linebuy form-group">
                                    <input type="checkbox" id="line-buy-all" name="line-buy-all" ng-model="offerdetails.allLineBuy" ng-click="offerdetails.selectAllLineBuy($event)" />
                                    <label for="line-buy-all">all<span></span></label>
                                </div>
                            </form>
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="product in offerdetails.products | filter : offerdetails.isStatus |  orderBy : '-include'" ng-class="{'excluded' : !product.include}">
                        <td class="image-size">
                            <img src="assets/images/bag_03.jpg" alt="bag" />
                        </td>
                        <td class="details-table">
                            <div class="row">
                                <div class="col-md-12 details-text">
                                    <p class="details-brand">{{product.brand}}<span class="slash">&#47;</span>handbags <i ng-show="product.hasErrors" class="text-red fa fa-exclamation-triangle" aria-hidden="true"></i></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 details-text">
                                    <p class="name-product" ng-click="offerdetails.viewProductDetails($event, product)">{{product.productName.length > 0 ? product.productName : 'Unknown'}}</p>
                                    <p class="bold-name">product id: <span ng-bind="product.modelNumber"></span></p>
                                </div>
                                <div class="col-md-6 details-text">
                                    <p class="bold-name">material&#58; <span ng-bind="product.materialCode"></span></p>
                                    <p class="bold-name">color&#58; <span ng-bind="product.colorCode"></span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span>$4.000</span>
                        </td>
                        <td>
                            <span>{{product.discount}}%</span>
                        </td>
                        <td class="price-number total-row">
                            <span>$2.000</span>
                        </td>
                        <td class="price-number total-row">
                            <span ng-bind="product.totalQuantity"></span>
                        </td>
                        <td class="total-row">
                            <span>$8.000</span>
                        </td>
                        <td>
                            <form>
                                <div class="checkbox checkbox-lb form-group">
                                    <input type="checkbox" id="line-buy-{{product.offerImportBatchItemId}}" name="iCheck" ng-click="offerdetails.clickProductLineBuy($event)" ng-model="product.isLineBuy" />
                                    <label for="line-buy-{{product.offerImportBatchItemId}}"><span></span></label>
                                </div>
                            </form>
                        </td>
                        <td>
                            <div ng-click="offerdetails.clickIncludeExclude($event, product)">
                                <i class="include-exclude" ng-class="{'fa fa-check-circle include-icon' : product.include, 'fa fa-times-circle exclude-icon' : !product.include}"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="border-line-up"></div>
        </div>
    </div>
</div>
<div class="row margin-t-20">
    <div class="col-md-12 text-right">
        <button class="button upload-btn" ng-click="offerdetails.continue($event)">Continue<span class="arrow padding-l-20"><i class="fa fa-angle-right" aria-hidden="false"></i></span></button>
    </div>
</div>
