﻿
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 nav-steps">
            <div class="page-steps">
                <a href="#" class="medium-blue-1" ng-click="producterror.back($event, 1)">offer details</a>
                <a href="#" class="medium-blue-1" ng-click="producterror.back($event, 2)"><span>&#47;</span> large sac du jour</a>
                <a><span>&#47;</span> report error</a>
            </div>
            <div class="border-line-down"></div>
        </div>
    </div>
    <div class="row margin-t-40">
        <div class="col-md-12 report-information">
            <p class="text-center title-report">report error</p>
            <p class="text-center info-raport">Our Product Catalogue aims to maintain the most accurate information for all of our styles. Provide updated <br />information below and we will update the Product Catalogue as appropriate.</p>
        </div>
    </div>
    <div class="row margin-t-10">
        <div class="col-md-1"></div>
        <div class="col-md-10 product-error">
            <p>product name&#58;<span>Large Sac du Jour</span></p>
            <p>product id&#58;<span>123456</span></p>
            <p>brand&#58;<span>saint laurent</span></p>
            <p>issue&#58;</p>
            <textarea rows="4" class="textarea-error" placeholder="Type the error here." max-length="500"></textarea>
            <div class="text-center">
                <button class="button margin-t-40 error-btn">send error report</button>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
