﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 nav-steps">
            <div class="page-steps">
                <a href="#" class="medium-blue-1" ng-click="back($event)">offer details</a>
                <a> &#47; upload supporting documents</a>
            </div>
            <div class="border-line-down"></div>
        </div>
    </div>
    <div class="row supporting-upload">
        <div class="col-md-12 upload-information">
            <p class="details-title">upload supporting documents</p>
            <p class="note">Please provide copies of all relevant invoices for your offer.<br /> Note: The limit for a file is 20mb.</p>
        </div>
        <div class="row margin-b-40">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="file-upload-wrapper" ng-hide="files.length > 0">
                    <i class="fa fa-file-excel-o upload-icon" aria-hidden="true"></i>
                    <div class="file-input">
                        <input type="text" readonly placeholder="upload supporting docuuments" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                    </div>
                    <i class="remove fa fa-times"></i>
                </div>
                <div class="file-upload-wrapper" ng-repeat="file in files">
                    <i class="fa fa-file-excel-o upload-icon" aria-hidden="true"></i>
                    <div class="file-input">
                        <input type="text" ng-model="file.name" readonly placeholder="upload your offer" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                        <div class="upload-progress-bar" style="width: {{file.progress}}%;"></div>
                    </div>
                    <i class="remove fa fa-times" ng-click="cancelUpload()" ng-show="currentFileName !== null"></i>
                </div>
                <div class="drag-and-drop-zone" ngf-drop ngf-select ng-model="files" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="false"
                     accept=".pdf" ngf-max-files="10" ngf-max-size="'20MB'">
                    <p>Drag file here</p>
                    <p>or <span>Browse</span></p>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row margin-b-60">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button class="button continue-btn" ng-click="continue($event)">continue<span class="arrow padding-l-20"><i class="fa fa-angle-right" aria-hidden="false"></i></span></button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
