﻿<div class="row publish-upload">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <h1 class="title">Upload your offer</h1>
        <p class="step"><span class="step-number">1.</span>Create your offer using our standard template. Click <a href="download-template-not-implemented" target="_blank">here</a> if you need our template.</p>
        <p class="step"><span class="step-number">2.</span>Select the appropriate file, drop files to attach, or browse.</p>
        <p class="step">Note: File must not be larger than 15 mb.</p>

        <div class="file-upload-wrapper">
            <i class="fa fa-file-excel-o upload-icon" aria-hidden="true"></i>
            <div class="file-input">
                <input type="text" ng-model="currentFileName" readonly placeholder="upload your offer" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                <div class="upload-progress-bar" style="width: {{progress}}%;"></div>
            </div>
            <i class="remove fa fa-times" ng-click="cancelUpload()" ng-show="currentFileName !== null"></i>
        </div>

        <div class="drag-and-drop-zone"
             ngf-drop ngf-select ng-model="files" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="false"
             accept=".xlsx,.xls" ngf-max-files="1" ngf-max-size="'15MB'">
            <p>Drag file here</p>
            <p>or <span>Browse</span></p>
        </div>

        <p class="text-center margin-t-20 error" ng-show="error !== null">
            {{error}}
        </p>
    </div>
    <div class="col-md-1">
    </div>
</div>