﻿<!-- Header -->
<div class="container-fluid header-publish-offer">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-right company-info">
            <p>
                <span>John Luca</span>&#44; Future Designs
                <span class="logout" ng-click="main.logout($event)"><i class="fa fa-power-off" aria-hidden="true"></i></span>
            </p>
        </div>
    </div>
</div>
<!-- Container -->
<div id="wrapper" class="margin-b-60">
    <div class="container-fluid publish-offer nopadding">
        <nav class="navbar navigation-bar nopadding"  ng-controller="AdminMenuController as menu">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"><span><i class="fa fa-bars" aria-hidden="true"></i></span></button>
            </div>
            <div class="collapse navbar-collapse nopadding mobile-meniu" id="myNavbar">
                <ul class="nav navbar-nav nav-list">
                    <li class="logo-image">
                        <img src="../assets/images/logo-luxury.png" alt="luxury logo" class=""/>
                    </li>
                    <li>
                        <a href="#" class="website" ui-sref="site.home"><span class="icon-nav"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></span>view website</a>
                    </li>
                    <li ng-repeat="item in menu.items">
                        <a ng-href="{{item.path}}" ng-click="menu.menuItemClick($event, item)">
                            <span class="icon-nav"><i class="{{item.iconCls}}" aria-hidden="true"></i></span>{{item.label}}
                            <span class="angle-icon" ng-if="item.children"><i class="fa" ng-class="{'fa-angle-down' : !item.open, 'fa-angle-up' : item.open}" aria-hidden="true"></i></span>
                        </a>
                        <ul class="offer" ng-if="item.children" ng-show="item.open">
                            <li ng-repeat="child in item.children"><a ng-href="{{child.path}}" ng-bind="child.label"></a></li>
                        </ul>
                    </li>
                    <li class="help">
                        <a href="#" class="help-tag"><span class="icon-nav"><i class="fa fa-question-circle-o" aria-hidden="true"></i></span>help</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid details-container">
        <ui-view></ui-view>
    </div>
</div>


<!-- Footer -->
<div class="container-fluid footer-bar">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-sm-12 col-lg-3">
                    <div class="contact-info">
                        <h3 class="contact-title">about</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-2">
                    <div class="contact-info">
                        <h3 class="contact-title">contact</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-2">
                    <div class="contact-info">
                        <h3 class="contact-title">privacy</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-2">
                    <div class="contact-info">
                        <h3 class="contact-title">terms of service</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                    <div class="contact-info">
                        <h3 class="contact-title">&#169;luxury market 2016</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>