﻿<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="row bs-wizard">
            <div class="col-xs-2"></div>
            <div class="col-xs-2 bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum">Upload New Offer</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot">1</a>
            </div>

            <div class="col-xs-2 bs-wizard-step">
                <div class="text-center bs-wizard-stepnum">Offer Details</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot">2</a>
            </div>

            <div class="col-xs-2 bs-wizard-step disabled">
                <div class="text-center bs-wizard-stepnum">Supporting Documents</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot">3</a>
            </div>

            <div class="col-xs-2 bs-wizard-step disabled last">
                <div class="text-center bs-wizard-stepnum">Offer Summary</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot">4</a>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="review-title">review offer details</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="border-line-up"></div>
        <div class="row">
            <div class="col-md-9 form-date-group">
                <form class="form-inline">
                    <div class="form-group data-group">
                        <label class="control-label label-text" for="start-date">offer start date&#58;</label>
                        <div>
                            <input type="text" class="form-control date-form" name="month" placeholder="MM" />
                            <span class="slash">&#47;</span>
                            <input type="text" class="form-control date-form active" name="date" placeholder="23" />
                            <span class="slash">&#47;</span>
                            <input type="text" class="form-control date-form year-input" name="year" placeholder="YYYY" />
                        </div>
                    </div>
                    <div class="form-group data-group">
                        <label class="control-label label-text" for="start-date">offer end date&#58;</label>
                        <div>
                            <input type="text" class="form-control date-form" name="month" placeholder="MM" />
                            <span class="slash">&#47;</span>
                            <input type="text" class="form-control date-form" name="date" placeholder="DD" />
                            <span class="slash">&#47;</span>
                            <input type="text" class="form-control date-form year-input" name="year" placeholder="YYYY" />
                        </div>
                    </div>
                    <div class="form-group take-group">
                        <label class="control-label label-text">take all&#58;</label>
                        <input type="text" class="form-control date-form box-input" name="" placeholder="" />
                    </div>
                </form>
            </div>
            <div class="col-md-3 text-right">
                <button class="button upload-btn">go to upload<span class="arrow padding-l-20"><i class="fa fa-angle-right" aria-hidden="false"></i></span></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 information-page">
        <div class="border-line-down"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="navigation nav-products">
                    <a href="#">all <span>(24)</span></a>
                    <a href="#">succesfull uploaded <span>(20)</span></a>
                    <a href="#" class="message-error">with errors <span>(4)</span></a>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 nopadding table-products">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>images</th>
                        <th class="detail-th">details</th>
                        <th>retail<br /> price</th>
                        <th>discount<br /> off retail</th>
                        <th>offer<br /> price</th>
                        <th>units</th>
                        <th>total<br /> cost</th>
                        <th>line<br /> buy</th>
                        <th>include<br /> exclude</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="total-row">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span class="bold-number">28</span>
                        </td>
                        <td>
                            <span class="bold-number">$56.000</span>
                        </td>
                        <td>
                            <form>
                                <div class="checkbox check-linebuy form-group">
                                    <input type="checkbox" id="line-buy" name="iCheck" />
                                    <label for="line-buy">all<span></span></label>
                                </div>
                            </form>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="image-size">
                            <img src="assets/images/bag_03.jpg" alt="bag" />
                        </td>
                        <td class="details-table">
                            <div class="row">
                                <div class="col-md-12 details-text">
                                    <p class="details-brand">saint laurent<span class="slash">&#47;</span>handbags</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 details-text">
                                    <p class="name-product">large sac du jour</p>
                                    <p class="bold-name">product id: <span>123456</span></p>
                                </div>
                                <div class="col-md-6 details-text">
                                    <p class="bold-name">material&#58; <span>leather</span></p>
                                    <p class="bold-name">color&#58; <span>black</span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span>$4.000</span>
                        </td>
                        <td>
                            <span>50%</span>
                        </td>
                        <td class="price-number total-row">
                            <span>$2.000</span>
                        </td>
                        <td class="price-number total-row">
                            <span>4</span>
                        </td>
                        <td class="total-row">
                            <span>$8.000</span>
                        </td>
                        <td>
                            <form>
                                <div class="checkbox checkbox-lb form-group">
                                    <input type="checkbox" id="line-buy-1" name="iCheck" />
                                    <label for="line-buy-1"><span></span></label>
                                </div>
                            </form>
                        </td>
                        <td>
                            <div>
                                <span class="include-icon include-exclude"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                <span class="exclude-icon include-exclude"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="image-size">
                            <img src="assets/images/bag_03.jpg" alt="bag" />
                        </td>
                        <td class="details-table">
                            <div class="row">
                                <div class="col-md-12 details-text">
                                    <p class="details-brand">saint laurent<span class="slash">&#47;</span>handbags</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 details-text">
                                    <p class="name-product">large sac du jour</p>
                                    <p class="bold-name">product id: <span>123456</span></p>
                                </div>
                                <div class="col-md-6 details-text">
                                    <p class="bold-name">material&#58; <span>leather</span></p>
                                    <p class="bold-name">color&#58; <span>black</span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span>$4.000</span>
                        </td>
                        <td>
                            <span>50%</span>
                        </td>
                        <td class="price-number total-row">
                            <span>$2.000</span>
                        </td>
                        <td class="price-number total-row">
                            <span>4</span>
                        </td>
                        <td class="total-row">
                            <span>$8.000</span>
                        </td>
                        <td>
                            <form>
                                <div class="checkbox checkbox-lb form-group">
                                    <input type="checkbox" id="line-buy-2" name="iCheck" />
                                    <label for="line-buy-2"><span></span></label>
                                </div>
                            </form>
                        </td>
                        <td>
                            <div>
                                <span class="include-icon include-exclude"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                                <span class="exclude-icon include-exclude"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="image-size">
                            <img src="assets/images/bag_03.jpg" alt="bag" />
                        </td>
                        <td class="details-table">
                            <div class="row">
                                <div class="col-md-12 details-text">
                                    <p class="details-brand">saint laurent<span class="slash">&#47;</span>handbags</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 details-text">
                                    <p class="name-product">large sac du jour</p>
                                    <p class="bold-name">product id: <span>123456</span></p>
                                </div>
                                <div class="col-md-6 details-text">
                                    <p class="bold-name">material&#58; <span>leather</span></p>
                                    <p class="bold-name">color&#58; <span>black</span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span>$4.000</span>
                        </td>
                        <td>
                            <span>50%</span>
                        </td>
                        <td class="price-number total-row">
                            <span>$2.000</span>
                        </td>
                        <td class="price-number total-row">
                            <span>4</span>
                        </td>
                        <td class="total-row">
                            <span>$8.000</span>
                        </td>
                        <td>
                            <form>
                                <div class="checkbox checkbox-lb form-group">
                                    <input type="checkbox" id="line-buy-3" name="iCheck" />
                                    <label for="line-buy-3"><span></span></label>
                                </div>
                            </form>
                        </td>
                        <td>
                            <div>
                                <span class="include-icon include-exclude"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                                <span class="exclude-icon include-exclude"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="image-size">
                            <img src="assets/images/bag_03.jpg" alt="bag" />
                        </td>
                        <td class="details-table">
                            <div class="row">
                                <div class="col-md-12 details-text">
                                    <p class="details-brand">saint laurent<span class="slash">&#47;</span>handbags</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 details-text">
                                    <p class="name-product">large sac du jour</p>
                                    <p class="bold-name">product id: <span>123456</span></p>
                                </div>
                                <div class="col-md-6 details-text">
                                    <p class="bold-name">material&#58; <span>leather</span></p>
                                    <p class="bold-name">color&#58; <span>black</span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span>$4.000</span>
                        </td>
                        <td>
                            <span>50%</span>
                        </td>
                        <td class="price-number total-row">
                            <span>$2.000</span>
                        </td>
                        <td class="price-number total-row">
                            <span>4</span>
                        </td>
                        <td class="total-row">
                            <span>$8.000</span>
                        </td>
                        <td>
                            <form>
                                <div class="checkbox checkbox-lb form-group">
                                    <input type="checkbox" id="line-buy-4" name="iCheck" />
                                    <label for="line-buy-4"><span></span></label>
                                </div>
                            </form>
                        </td>
                        <td>
                            <div>
                                <span class="include-icon include-exclude"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                                <span class="exclude-icon include-exclude"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="image-size">
                            <img src="assets/images/bag_03.jpg" alt="bag" />
                        </td>
                        <td class="details-table">
                            <div class="row">
                                <div class="col-md-12 details-text">
                                    <p class="details-brand">saint laurent<span class="slash">&#47;</span>handbags</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 details-text">
                                    <p class="name-product">large sac du jour</p>
                                    <p class="bold-name">product id: <span>123456</span></p>
                                </div>
                                <div class="col-md-6 details-text">
                                    <p class="bold-name">material&#58; <span>leather</span></p>
                                    <p class="bold-name">color&#58; <span>black</span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span>$4.000</span>
                        </td>
                        <td>
                            <span>50%</span>
                        </td>
                        <td class="price-number total-row">
                            <span>$2.000</span>
                        </td>
                        <td class="price-number total-row">
                            <span>4</span>
                        </td>
                        <td class="total-row">
                            <span>$8.000</span>
                        </td>
                        <td>
                            <form>
                                <div class="checkbox checkbox-lb form-group">
                                    <input type="checkbox" id="line-buy-5" name="iCheck" />
                                    <label for="line-buy-5"><span></span></label>
                                </div>
                            </form>
                        </td>
                        <td>
                            <div>
                                <span class="include-icon include-exclude"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                                <span class="exclude-icon include-exclude"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="image-size">
                            <img src="assets/images/bag_03.jpg" alt="bag" />
                        </td>
                        <td class="details-table">
                            <div class="row">
                                <div class="col-md-12 details-text">
                                    <p class="details-brand">saint laurent<span class="slash">&#47;</span>handbags</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 details-text">
                                    <p class="name-product">large sac du jour</p>
                                    <p class="bold-name">product id: <span>123456</span></p>
                                </div>
                                <div class="col-md-6 details-text">
                                    <p class="bold-name">material&#58; <span>leather</span></p>
                                    <p class="bold-name">color&#58; <span>black</span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span>$4.000</span>
                        </td>
                        <td>
                            <span>50%</span>
                        </td>
                        <td class="price-number total-row">
                            <span>$2.000</span>
                        </td>
                        <td class="price-number total-row">
                            <span>4</span>
                        </td>
                        <td class="total-row">
                            <span>$8.000</span>
                        </td>
                        <td>
                            <form>
                                <div class="checkbox checkbox-lb form-group">
                                    <input type="checkbox" id="line-buy-6" name="iCheck" />
                                    <label for="line-buy-6"><span></span></label>
                                </div>
                            </form>
                        </td>
                        <td>
                            <div>
                                <span class="include-icon include-exclude"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                                <span class="exclude-icon include-exclude"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="border-line-up"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right">
        <button class="button upload-btn">go to upload<span class="arrow padding-l-20"><i class="fa fa-angle-right" aria-hidden="false"></i></span></button>
    </div>
</div>
