﻿/*!
 * Luxury Market v1.0.0 
 * Copyright 2016 Luxury Market
 */

// Core variables and mixins
@import "helpers/_variables";
@import "helpers/_mixins";

// bootstrap ovverides
// forms
.form-group {
    margin-bottom: 20px;
    position: relative;

    label {

        &.floating {
            font-weight: normal;
            position: absolute;
            top: 2px;
            left: 4px;
            font-size: 11px;
            color: $light-gray;
            line-height: 12px;
        }
    }
}

// Reset and dependencies
@import "helpers/_normalize";
@import "helpers/_formating";

// Core CSS
@import "layout/_grid";
@import "layout/_header";
@import "layout/_footer";

// Components

// Pages
@import "pages/_login";
@import "pages/_register";
@import "pages/_home";
@import "pages/_products";
@import "pages/_product-details";
@import "pages/_publish-offer";
@import "pages/_cart";
@import "pages/_offer-details";
@import "pages/_support-documents";
@import "pages/_offer-summary";
@import "pages/_offer-product-details";
@import "pages/_report-error";

// Fonts

body {
    font-family: "futura-pt",sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $middle-gray;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}
// Input

input {
    border: 1px solid $light-gray;
    color: $gray;
    letter-spacing: 1px;
    line-height: initial;
    padding: 13px 25px;
    text-align: center;
    width: 100%;
}

input:focus {
    border: 1px solid $light-gray;
    outline: none;
}


::-webkit-input-placeholder {
    color: $dark-gray;
}

a {
    color: $dark-gray;

    &:focus {
        text-decoration: none;
        color: $dark-gray;
    }

    &:hover {
        text-decoration: none;
        color: $dark-gray;
    }

    &:active {
        text-decoration: none;
        color: $dark-gray;
    }
}

// Textarea

textarea {
    border: 1px solid $light-gray;
    color: $gray;
    letter-spacing: 1px;
    line-height: initial;
    text-align: center;
    width: 100%;
}

textarea:focus {
    border: 1px solid $light-gray;
    outline: none;
}

// Button

.button {
    background-color: $black;
    border: none;
    color: $white;
    display: inline-block;
    letter-spacing: 1px;
    padding: 11px 25px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    outline: none;
    width: 100%;
}

// Radiobox

input[type="radio"] {
    display: none;
}

input[type="radio"] + label span {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 15px 0px 40px;
    width: 16px;
    height: 16px;
    background-color: $white;
    border: 1px solid $light-gray;
    cursor: pointer;
    position: relative;
    bottom: 2px;
}

input[type="radio"]:checked + label span {
    background-color: $black;
    border: 1px solid $black;
}

input[type="radio"] + label span:hover {
    border-color: $black;
}

// Checkbox

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label span {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 13px 0px 40px;
    width: 16px;
    height: 16px;
    background-color: $white;
    border: 1px solid $light-gray;
    cursor: pointer;
    position: relative;
    bottom: 2px;
}

input[type="checkbox"]:checked + label span {
    background-color: $black;
    border: 1px solid $black;
}

input[type="checkbox"] + label span:hover {
    border-color: $black;
}

// errors
.error-messages {
    color: $red;
    position: absolute;
    bottom: -20px;
    left: 5px;
    font-size: 13px;
}

// Text Subtitle

.subtitle-home {
    color: $black;
    text-align: center;

    .first-subtitle {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 1.7px;
        line-height: 1em;
    }

    .second-subtitle {
        font-size: 20px;
        letter-spacing: 1.5px;
        text-align: center;
    }
}

button[disabled] {
    background-color: #4a4a4a;
}

.fa.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}


.submit-error {
    color: $red;
}

// Pages navigation

.navigation {

    a {
        display: inline-block;
    }

    a:hover {
        color: $moderat-orange;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

    a:after {
        content: "|";
        padding: 0 5px;
        display: inline-block;
    }
}

.subtitle {
    text-align: initial;
}

// Navigation steps
.nav-steps {

    .page-steps {
        text-transform: capitalize;
        letter-spacing: 0.05em;
        cursor: pointer;
        margin: 0px;
        line-height: 24px;

        .second-page {
            color: $black;
        }
    }
}

select {
    border: 1px solid $light-gray;
    color: $gray;
    letter-spacing: 1px;
    line-height: initial;
    padding: 13px 25px;
    text-align: center;
    width: 100%;

    &.light {
        color: $dark-gray;
    }

    &.center {
        text-align: center;
        text-align-last: center;

        option {
            text-align: left;
        }
    }
}

.logout-button:hover {
    text-decoration: underline;
}

.text-right {
    text-align: right;
}

// Delimitation border

.border-box {
    border-bottom: 1px solid $very-light-gray;
    padding-bottom: 15px;
}

a {
    &:hover,
    :focus,
    :active {
        text-decoration: none;
    }
}
// Arrows
.arrow {
    font-size: 20px;
    top: 2px;
    position: relative;
}

.arrow-left {
    font-size: 20px;
}

@import "pages/_step_wizard.scss";


.error {
    color: $red;
}
