/*!
 * Luxury Market v1.0.0 
 * Copyright 2016 Luxury Market
 */
/*
  added null property so you can get away using only what you need from this mixin
  ex: good: @include set_size(width: 100%; max-widht: 320px);
  bad: @include set_size(100px, 200px); works anyhow but it's difficult to maintain
*/
/*
  added null property so you can get away using only what you need from this mixin
  ex1: @include font($font-size: 10px, $line-hight: 1em);
  ex2: @include font(10px, red,  center);
  you can use it without variables but you MUST keep the order
*/
/*
  on event like: hover, focus or active, execute style;
  ex: .element { color: red;   @include on_event { color: blue }}
*/
/*
  this is the most solid clearfix there is, it works even on IE6;
  ex: .container-with-floated-children { @extend %clearfix; }
*/
/*
  hides the element but still makes it audible for people with screen readers
  ex:  <button class="mobile-navigation-trigger">
            <b class="visually-hidden">Open the navigation</b>
            <img src="img/mobile-navigation-icon.svg">
        </button>
*/
/*
  mixing for setting the possition;
  if you don't want to set set/right/top/bottom you can use it like:
  @include position(absolute);
  .element { @include position(absolute, 10px, 20px, 30px, 40px); }
  this is if you want to define top, right bottom, left in this exact order
  .element { @include position(absolute, $top: 10px, left: 20px); }
  this is if you don't keep the order
*/
/*
  fallback mixin for any vendor prefix:
    ex: @include prefix(transform, rotate(42deg), webkit moz ms o);
  you don't have to include all 4 fallbacks, you have to include at least 1;
*/
/*
  mixin to vertically-align: center a selector;
    ex: .txt { @include vertical_center; }
  beware: gives position relative and top: 50% to the element.
*/
.form-group {
  margin-bottom: 20px;
  position: relative; }
  .form-group label.floating {
    font-weight: normal;
    position: absolute;
    top: 2px;
    left: 4px;
    font-size: 11px;
    color: #cbcbcb;
    line-height: 12px; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.margin-0 {
  margin: 0; }

.margin-b-10 {
  margin-bottom: 10px; }

.margin-b-15 {
  margin-bottom: 15px; }

.margin-b-20 {
  margin-bottom: 20px; }

.margin-b-30 {
  margin-bottom: 30px; }

.margin-b-40 {
  margin-bottom: 40px; }

.margin-b-60 {
  margin-bottom: 60px; }

.margin-t-10 {
  margin-top: 10px; }

.margin-t-15 {
  margin-top: 15px; }

.margin-t-20 {
  margin-top: 20px; }

.margin-t-30 {
  margin-top: 30px; }

.margin-t-40 {
  margin-top: 40px; }

.margin-l-5 {
  margin-left: 5px; }

.margin-l-20 {
  margin-left: 20px; }

.margin-l-40 {
  margin-left: 40px; }

.margin-r-5 {
  margin-right: 5px; }

.margin-r-10 {
  margin-right: 10px; }

.no-margin-l {
  margin-left: 0px; }

.no-margin-r {
  margin-right: 0px; }

.nopadding {
  padding: 0px; }

.no-padding-r {
  padding-right: 0px; }

.no-padding-l {
  padding-left: 0px; }

.padding-l-15 {
  padding-left: 15px; }

.padding-l-20 {
  padding-left: 20px; }

.padding-r-20 {
  padding-right: 20px; }

.text-center {
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.medium-blue {
  color: #4597c2; }

.medium-blue-1 {
  color: #4490B8; }

.text-red {
  color: #DA1B00; }

.text-left {
  text-align: left !important; }

#header-luxury .head .menu-wapper {
  padding-right: 0px;
  padding-left: 0px; }
  #header-luxury .head .menu-wapper .top-header {
    display: table;
    padding-bottom: 17px;
    padding-top: 20px;
    width: 100%; }
    #header-luxury .head .menu-wapper .top-header .logo {
      padding: 5px 0px;
      text-align: center;
      max-width: 100%; }

.login-container {
  margin-top: 20px; }
  .login-container .login-home {
    float: none;
    margin: 20px auto;
    text-align: center;
    padding: 0px 3px; }
    .login-container .login-home .title {
      color: #000;
      font-size: 17px;
      font-weight: 700;
      letter-spacing: 0.1em;
      margin-bottom: 45px;
      text-transform: uppercase; }
    .login-container .login-home a {
      margin-top: 15px;
      margin-bottom: 25px; }

#top-footer {
  text-align: center; }
  #top-footer .footer-m {
    margin-top: 60px; }
    #top-footer .footer-m .border-l {
      display: block;
      margin: 1em 0em;
      border-style: inset;
      border-width: 1px; }
  #top-footer .footer-top {
    color: #000; }
    #top-footer .footer-top .contact-info {
      margin-top: 30px;
      text-align: center; }
      #top-footer .footer-top .contact-info .contact-title {
        color: #000;
        cursor: pointer;
        font-size: 14px;
        letter-spacing: 0.08em;
        margin-bottom: 30px;
        text-transform: uppercase; }
    #top-footer .footer-top .contact-info:last-child {
      margin-bottom: 0px; }
  #top-footer .copyright {
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    color: #000;
    margin-bottom: 10px;
    padding-left: 20px; }

.top-register .title {
  font-size: 17px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center; }
.top-register .sub-title {
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px; }

.register .buyer-seller {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 0px; }
.register .description-box {
  line-height: 42px;
  padding: 10px 15px;
  resize: none;
  height: 65px; }
.register .double-input .col-md-6:first-child {
  padding-right: 7.5px; }
.register .double-input .col-md-6:last-child {
  padding-left: 7.5px; }
.register .terms {
  text-align: center;
  font-size: 14px; }
  .register .terms .terms-font {
    font-weight: 400;
    cursor: pointer; }
    .register .terms .terms-font a {
      display: inline-block;
      text-decoration: underline;
      color: #000;
      margin-top: 10px;
      margin-bottom: 20px; }

.auth-message {
  margin: 140px 0;
  text-align: center; }
  .auth-message .message {
    font-size: 16px;
    letter-spacing: 1px; }

.top-header .box-control {
  line-height: 18px;
  padding-top: 5px; }
  .top-header .box-control ul .username .btn-changes {
    vertical-align: initial; }
    .top-header .box-control ul .username .btn-changes .dropdown-menu {
      min-width: 120px;
      border-radius: 0;
      border-color: #e0e0e0;
      padding: 10px 0;
      margin-top: 0; }
      .top-header .box-control ul .username .btn-changes .dropdown-menu li a {
        padding: 0 10px;
        font-size: 14px;
        line-height: 24px; }
        .top-header .box-control ul .username .btn-changes .dropdown-menu li a i {
          font-size: 12px;
          margin-right: 5px; }
    .top-header .box-control ul .username .btn-changes button {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 0;
      border: 0;
      line-height: 18px;
      border-radius: 0;
      background: none;
      box-shadow: none;
      border-top: 3px solid transparent;
      padding: 0px 10px;
      line-height: 14px; }
      .top-header .box-control ul .username .btn-changes button:hover,
      .top-header .box-control ul .username .btn-changes button :active,
      .top-header .box-control ul .username .btn-changes button :focus {
        background: none; }
    .top-header .box-control ul .username .btn-changes.open button {
      box-shadow: none;
      border: 1px solid #e0e0e0;
      border-top: 3px solid #000;
      border-bottom: 0;
      z-index: 2;
      background: #fff; }
    .top-header .box-control ul .username .btn-changes.open .dropdown-menu {
      z-index: 1;
      top: 95%; }
  .top-header .box-control ul .type {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: italic;
    padding-left: 10px; }
  .top-header .box-control ul .language {
    text-transform: uppercase;
    padding-left: 10px; }
    .top-header .box-control ul .language span {
      background: #000;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      padding: 0 5px; }
  .top-header .box-control .linesheet {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center; }
  .top-header .box-control .mini-cart .cart-link {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: right; }
    .top-header .box-control .mini-cart .cart-link span {
      font-weight: 700; }
    .top-header .box-control .mini-cart .cart-link .items-cart {
      padding-left: 5px; }

.luxury-nav {
  background-color: #000;
  text-align: center;
  padding: 13px 0;
  margin-bottom: 0px; }
  .luxury-nav li {
    display: inline-block;
    padding: 0 21px; }
    .luxury-nav li a {
      color: #fff;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 30px; }
      .luxury-nav li a .search-icon {
        padding-left: 10px; }
    .luxury-nav li .active {
      font-weight: 700; }

.banner-content-home .banner {
  background-image: url("../images/slides/12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  max-width: 100%; }
  .banner-content-home .banner .banner-text {
    text-transform: uppercase;
    position: relative;
    top: 150px;
    text-align: center; }
  .banner-content-home .banner h3 {
    font-size: 60px;
    font-weight: 700;
    color: #000;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
    margin-top: 0; }
  .banner-content-home .banner span {
    display: block;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 30px; }
  .banner-content-home .banner .shop-button {
    padding: 8px 15px; }
  .banner-content-home .banner a {
    font-size: 24px;
    width: auto;
    cursor: pointer; }
  .banner-content-home .banner a:hover {
    color: #fff; }

.home-content .product-banner {
  background-image: url("../images/home/burberry.jpg");
  height: 795px; }
.home-content .product-one {
  background-image: url("../images/home/lv.jpg");
  height: 390px; }
.home-content .product-two {
  background-image: url("../images/home/tomford.jpg");
  height: 390px; }
.home-content .product-three {
  background-image: url("../images/home/spring-trends.jpg");
  height: 390px; }
.home-content .product-four {
  background-image: url("../images/home/lanvin.jpg");
  height: 390px; }
.home-content .product-three:hover .effect, .home-content .product-four:hover .effect {
  color: #000; }
.home-content .product-category {
  min-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  display: block;
  position: relative; }
.home-content .product-category:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 1;
  filter: alpha(opacity=100); }
.home-content .product-category:hover:before {
  opacity: 0;
  filter: alpha(opacity=0); }
.home-content .text {
  position: relative;
  top: 50%;
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: none;
  z-index: 4; }
.home-content .bestsellers-section .item-caption {
  position: relative;
  top: 10px;
  margin-top: 35px;
  letter-spacing: 1px;
  text-align: center; }
  .home-content .bestsellers-section .item-caption .item-brand {
    font-size: 14px;
    color: #000;
    display: block; }
  .home-content .bestsellers-section .item-caption .item-brand:hover {
    text-decoration: underline; }
  .home-content .bestsellers-section .item-caption .item-name {
    font-size: 16px;
    color: #555; }
  .home-content .bestsellers-section .item-caption .item-price {
    font-size: 15px;
    color: #555; }
    .home-content .bestsellers-section .item-caption .item-price span {
      font-size: 18px;
      font-weight: 700;
      font-style: italic;
      color: #000; }

.description-container .subtitle-home .align-subtitle {
  text-align: left; }

.sidebar .sidebar-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  margin: 0;
  line-height: 36px;
  letter-spacing: 0.05em; }
.sidebar .radio-box {
  color: #000;
  font-size: 14px;
  margin: 0;
  line-height: 24px; }
  .sidebar .radio-box input[type="radio"] + label span {
    width: 11px;
    height: 11px;
    margin-right: 10px;
    border-color: black; }
  .sidebar .radio-box .radio-label {
    padding-left: 0; }
  .sidebar .radio-box span {
    margin-left: 0px; }
.sidebar .check-box {
  margin: 0;
  font-size: 15px; }
  .sidebar .check-box input[type="checkbox"] + label span {
    width: 11px;
    height: 11px;
    margin-right: 10px;
    border-color: black; }
  .sidebar .check-box label {
    color: #555; }
  .sidebar .check-box label:hover {
    color: #000; }
  .sidebar .check-box span {
    margin-left: 0px; }
.sidebar .font-list {
  font-weight: 600;
  color: #000; }
  .sidebar .font-list .apparel-list {
    padding-left: 20px;
    margin-bottom: 5px;
    font-weight: 400; }
    .sidebar .font-list .apparel-list li {
      font-size: 15px; }
.sidebar .caret-right {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid #000;
  display: inline-block;
  height: 0;
  opacity: 1;
  width: 0;
  margin-right: 10px; }
.sidebar .colors {
  display: inline-block;
  width: 20px;
  height: 20px; }
.sidebar .beige-color {
  background-color: #ffeaab; }
.sidebar .black-color {
  background-color: #000; }
.sidebar .blue-color {
  background-color: #0057FF; }
.sidebar .brown-color {
  background-color: #725614; }
.sidebar .green-color {
  background-color: #8AB300; }
.sidebar .gray-color {
  background-color: #808080; }
.sidebar .orange-color {
  background-color: #F48600; }
.sidebar .pink-color {
  background-color: #E457D7; }
.sidebar .purple-color {
  background-color: #653D93; }
.sidebar .red-color {
  background-color: #DA1B00; }
.sidebar .yellow-color {
  background-color: #FCF100; }
.sidebar .white-color {
  border: 1px solid #cbcbcb; }

.main-content {
  margin-top: 5px; }
  .main-content .shop-top {
    display: inline-flex;
    width: 100%;
    margin-bottom: 20px; }
    .main-content .shop-top .navigation-shop {
      display: inline-flex; }
      .main-content .shop-top .navigation-shop span {
        margin-right: 5px; }
      .main-content .shop-top .navigation-shop a:hover {
        color: #c99947;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .main-content .shop-top .navigation-shop a:after {
        content: "|";
        padding: 0 5px;
        display: inline-block;
        font-weight: 400; }
      .main-content .shop-top .navigation-shop a:last-child:after {
        display: none; }
      .main-content .shop-top .navigation-shop .active {
        font-weight: 700; }
  .main-content .navigation-pages .nav-pages {
    margin: 0;
    float: right; }
    .main-content .navigation-pages .nav-pages .pages {
      border: none;
      color: #000;
      font-weight: 500;
      padding: 0px 5px;
      line-height: 24px;
      margin-left: 0; }
    .main-content .navigation-pages .nav-pages .pages:hover {
      background-color: #000;
      color: #fff;
      border-radius: unset; }
    .main-content .navigation-pages .nav-pages .pages:visited {
      background-color: #000;
      color: #fff;
      border-radius: unset; }
  .main-content .products-list {
    display: inline-flex; }
    .main-content .products-list .product .product-caption {
      text-align: center;
      margin: 35px 0; }
      .main-content .products-list .product .product-caption .product-brand {
        font-size: 14px;
        color: #000;
        font-weight: 700;
        display: block;
        letter-spacing: 0.05em; }
      .main-content .products-list .product .product-caption .product-name {
        font-size: 16px;
        color: #555;
        letter-spacing: 0.05em; }
      .main-content .products-list .product .product-caption .product-price {
        font-size: 15px;
        letter-spacing: 0.05em;
        color: #555; }
        .main-content .products-list .product .product-caption .product-price span {
          color: #000;
          font-size: 18px;
          font-weight: 700;
          font-style: italic; }

.container-pages .navigation a:last-child:after {
  display: none; }

.product-image .first-image {
  text-align: center;
  margin-top: 40px;
  padding: 0 15px; }
.product-image .images .second-image {
  border: 1px solid #000;
  padding: 0; }
.product-image .images .third-image {
  padding: 0;
  opacity: 0.3; }
.product-image .product-title {
  color: #000; }
  .product-image .product-title .product-subtitle {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0px;
    line-height: 36px; }
  .product-image .product-title .brand {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1em; }
.product-image .product-details {
  margin-top: 25px; }
  .product-image .product-details .product-info {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 16px; }
    .product-image .product-details .product-info span {
      text-transform: none;
      font-weight: 400;
      font-size: 16px;
      margin-left: 3px;
      color: #383838;
      letter-spacing: 0.05em; }
.product-image .price-details .price {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.1em;
  margin: 0px;
  line-height: 30px;
  color: #000; }
.product-image .price-details .price-button {
  float: right;
  margin-top: -8px;
  letter-spacing: 0.05em;
  padding: 6px 0;
  width: 100%;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 10px;
  line-height: 30px; }
.product-image .price-info {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  line-height: 24px;
  margin: 0px;
  font-size: 16px; }
  .product-image .price-info span {
    text-transform: none;
    font-weight: 400;
    margin: 0 0 0 3px;
    color: #000;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 24px; }
  .product-image .price-info .discount-font {
    margin: 0 0 0 35px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em; }
  .product-image .price-info .star-icon {
    margin: 0 !important;
    padding: 0;
    font-size: 14px; }
  .product-image .price-info .star {
    padding-left: 5px; }
.product-image .empty-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 6px 0;
  font-size: 16px; }
.product-image .details {
  padding-top: 15px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.05em; }
.product-image .description {
  color: #a3a3a3;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 16px; }
.product-image .aditional .details-aditional {
  padding-top: 15px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px; }
.product-image .aditional .bold-price {
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  letter-spacing: 0.05em; }
.product-image .aditional .under-line {
  text-decoration: underline; }
.product-image .aditional .shopping-btn {
  letter-spacing: 0.1em;
  font-size: 16px;
  padding: 11px 0; }
.product-image .arrow-up {
  position: relative;
  left: 25px;
  color: #cbcbcb;
  font-size: 20px; }

.qty-sizes .qty-sizes-menu {
  width: 150%;
  color: #000;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25); }
  .qty-sizes .qty-sizes-menu .dropdown-title {
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    margin: 0;
    letter-spacing: 0.5px; }
  .qty-sizes .qty-sizes-menu .dropdown-subtitle {
    text-transform: uppercase;
    color: black;
    font-size: 13px; }
  .qty-sizes .qty-sizes-menu .select-remove {
    font-weight: 700;
    padding: 0 15px; }
    .qty-sizes .qty-sizes-menu .select-remove .remove {
      text-align: right; }
  .qty-sizes .qty-sizes-menu .detail-order {
    text-transform: uppercase; }
  .qty-sizes .qty-sizes-menu .detail-qty {
    position: relative;
    left: 15px; }
  .qty-sizes .qty-sizes-menu .items {
    font-size: 16px; }
    .qty-sizes .qty-sizes-menu .items span {
      font-weight: 500; }
  .qty-sizes .qty-sizes-menu .row-items {
    padding: 0 15px; }
  .qty-sizes .qty-sizes-menu .size {
    text-transform: uppercase;
    padding-right: 0;
    color: #cbcbcb; }
    .qty-sizes .qty-sizes-menu .size span {
      color: #000; }
  .qty-sizes .qty-sizes-menu .icon {
    color: #cbcbcb;
    cursor: pointer; }
  .qty-sizes .qty-sizes-menu .icon:hover {
    color: #000; }
  .qty-sizes .qty-sizes-menu .qty-details {
    font-weight: 500; }
  .qty-sizes .qty-sizes-menu .add-button {
    width: 85%; }

html, body {
  height: 100%; }

.header-publish-offer {
  background-color: #000;
  padding: 10px 0 6px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3; }
  .header-publish-offer .company-info {
    margin: 0;
    color: white;
    font-weight: lighter;
    letter-spacing: 0.5px;
    text-align: right; }
    .header-publish-offer .company-info span {
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 15px;
      vertical-align: middle; }
    .header-publish-offer .company-info .logout {
      font-size: 22px;
      padding-left: 50px;
      cursor: pointer;
      position: relative;
      right: 20px; }
  .header-publish-offer .power-icon {
    font-size: 25px;
    color: white;
    text-align: right; }

#wrapper {
  margin-left: 260px;
  position: relative; }
  #wrapper .publish-offer {
    position: fixed;
    z-index: 3;
    height: 100%;
    left: 0;
    bottom: 0; }
    #wrapper .publish-offer .navigation-bar {
      width: 260px;
      height: 100%;
      margin-bottom: 0px;
      border-width: 0px 1px 0px 0px;
      border-style: solid;
      border-color: #F2F2F2;
      border-radius: unset; }
      #wrapper .publish-offer .navigation-bar .mobile-meniu {
        overflow: hidden; }
      #wrapper .publish-offer .navigation-bar .nav-list {
        width: 260px;
        height: 100%;
        background-color: #FBFBFB;
        margin: 0; }
        #wrapper .publish-offer .navigation-bar .nav-list > li {
          float: none;
          border-right: 1px solid #F2F2F2; }
          #wrapper .publish-offer .navigation-bar .nav-list > li > a {
            color: #000;
            text-transform: uppercase;
            border-bottom: 1px solid #F2F2F2;
            font-size: 13px;
            letter-spacing: 0.5px;
            font-weight: 500;
            cursor: pointer; }
            #wrapper .publish-offer .navigation-bar .nav-list > li > a .icon-nav {
              font-size: 25px;
              padding-right: 20px; }
            #wrapper .publish-offer .navigation-bar .nav-list > li > a .angle-icon {
              float: right;
              position: relative;
              top: 5px;
              font-size: 25px;
              color: #B3B3B3; }
            #wrapper .publish-offer .navigation-bar .nav-list > li > a ul li a {
              cursor: pointer; }
          #wrapper .publish-offer .navigation-bar .nav-list > li > a:hover {
            background-color: initial; }
          #wrapper .publish-offer .navigation-bar .nav-list > li .website {
            padding: 5px 15px;
            font-weight: 700; }
          #wrapper .publish-offer .navigation-bar .nav-list > li .offer-tag {
            background-color: #fff; }
        #wrapper .publish-offer .navigation-bar .nav-list .logo-image {
          padding: 11px;
          border-bottom: 1px solid #000;
          text-align: center;
          background-color: #000;
          border-right: #000; }
        #wrapper .publish-offer .navigation-bar .nav-list .offer {
          color: #000;
          text-transform: capitalize;
          background-color: #fff;
          border-bottom: 1px solid #F2F2F2;
          padding: 15px 55px; }
        #wrapper .publish-offer .navigation-bar .nav-list .help {
          position: fixed;
          left: 0;
          right: 0;
          bottom: 0;
          width: 260px;
          padding: 0; }
          #wrapper .publish-offer .navigation-bar .nav-list .help .help-tag {
            border-top: 1px solid #F2F2F2;
            background-color: #FBFBFB;
            color: #919191;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 0.5px; }
            #wrapper .publish-offer .navigation-bar .nav-list .help .help-tag .icon-nav {
              font-size: 25px;
              padding-right: 20px;
              color: #494949;
              vertical-align: middle; }
  #wrapper .publish-upload {
    text-align: center;
    margin-top: 60px; }
    #wrapper .publish-upload .title {
      font-size: 17px;
      font-weight: 700;
      color: #000;
      text-transform: uppercase; }
    #wrapper .publish-upload .step {
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      color: #383838; }
      #wrapper .publish-upload .step span {
        font-weight: bold;
        margin-right: 5px; }
      #wrapper .publish-upload .step a {
        text-decoration: underline; }

.file-upload-wrapper {
  margin: 50px 0;
  position: relative; }
  .file-upload-wrapper i.upload-icon {
    font-size: 48px;
    margin-right: 15px;
    float: left;
    color: #ededed; }
  .file-upload-wrapper i.remove {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 16px;
    cursor: pointer; }
  .file-upload-wrapper .file-input {
    width: calc(100% - 60px);
    display: inline-block;
    position: relative; }
    .file-upload-wrapper .file-input .upload-progress-bar {
      position: absolute;
      border-bottom: 1px solid #000;
      width: 0;
      -webkit-transition: width 0.2s ease-in-out;
      -moz-transition: width 0.2s ease-in-out;
      -o-transition: width 0.2s ease-in-out;
      transition: width 0.2s ease-in-out; }
    .file-upload-wrapper .file-input input {
      border: 0;
      border-bottom: 1px solid #ededed;
      width: 100%;
      text-align: left;
      height: 48px;
      color: #d1d1d1;
      font-size: 16px; }
      .file-upload-wrapper .file-input input::-webkit-input-placeholder {
        color: #d1d1d1; }
      .file-upload-wrapper .file-input input:-moz-placeholder {
        /* Firefox 18- */
        color: #d1d1d1; }
      .file-upload-wrapper .file-input input::-moz-placeholder {
        /* Firefox 19+ */
        color: #d1d1d1; }
      .file-upload-wrapper .file-input input:-ms-input-placeholder {
        color: #d1d1d1; }

.drag-and-drop-zone {
  padding: 27px 10px;
  border: 1px dotted #cbcbcb;
  text-align: center;
  color: #000;
  cursor: pointer; }
  .drag-and-drop-zone.dragover {
    background: #FBFBFB; }
  .drag-and-drop-zone p {
    font-size: 14px;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #383838;
    margin: 0; }
    .drag-and-drop-zone p span {
      font-weight: 700;
      font-size: 15px; }

.footer-bar {
  border-top: 1px solid #F2F2F2;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  height: 57px; }
  .footer-bar .contact-info {
    text-align: center; }
    .footer-bar .contact-info .contact-title {
      color: #cbcbcb;
      cursor: pointer;
      font-size: 14px;
      letter-spacing: 1px;
      margin-bottom: 20px;
      text-transform: uppercase; }
  .footer-bar .contact-info:last-child {
    margin-bottom: 0px; }

.sent-for-publish {
  font-size: 18px;
  text-align: center; }

.cart-items button {
  width: auto;
  padding: 8px 20px;
  min-width: 150px;
  border: 1px solid transparent; }
  .cart-items button.inverse {
    background-color: #fff;
    color: #000;
    border: 1px solid #000; }
  .cart-items button.big-font {
    letter-spacing: 1.5px;
    font-size: 16px; }
  .cart-items button + button {
    margin-left: 15px; }
  .cart-items button.btn-export {
    font-size: 16px; }
.cart-items .cart-header {
  padding: 7px 0;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25); }
  .cart-items .cart-header h1 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #000; }
  .cart-items .cart-header .cart-summary-el {
    text-align: left; }
    .cart-items .cart-header .cart-summary-el p {
      margin: 0;
      font-size: 15px; }
      .cart-items .cart-header .cart-summary-el p.el-title {
        text-transform: uppercase;
        font-size: 14px; }
      .cart-items .cart-header .cart-summary-el p.el-content {
        font-weight: 700;
        color: #000;
        font-size: 20px; }
.cart-items .cart-items-table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px; }
  .cart-items .cart-items-table thead {
    border-bottom: 2px solid #e0e0e0; }
    .cart-items .cart-items-table thead th {
      min-width: 25px;
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      padding: 5px 2px; }
      .cart-items .cart-items-table thead th.empty {
        width: 15px; }
      .cart-items .cart-items-table thead th.units-sizes-header {
        width: 320px; }
      .cart-items .cart-items-table thead th .filter-dropdown.open button {
        background: transparent;
        box-shadow: none;
        border: 1px solid #e0e0e0;
        border-bottom-color: transparent; }
      .cart-items .cart-items-table thead th .filter-dropdown button {
        min-width: 85px;
        border-radius: 0;
        border: 1px solid #e0e0e0;
        padding: 5px 5px;
        text-align: left; }
        .cart-items .cart-items-table thead th .filter-dropdown button:focus, .cart-items .cart-items-table thead th .filter-dropdown button:active, .cart-items .cart-items-table thead th .filter-dropdown button:hover {
          background: transparent;
          box-shadow: none; }
        .cart-items .cart-items-table thead th .filter-dropdown button span {
          position: absolute;
          right: 5px;
          top: 9px; }
      .cart-items .cart-items-table thead th .filter-dropdown .dropdown-menu {
        margin: 0;
        border-radius: 0;
        border-top: 0;
        min-width: 85px;
        padding: 2px 0; }
      .cart-items .cart-items-table thead th .filter-dropdown li a {
        padding: 3px 5px;
        text-transform: none;
        font-size: 14px; }
  .cart-items .cart-items-table tbody tr.cart-item {
    border-bottom: 1px solid #e0e0e0;
    position: relative; }
    .cart-items .cart-items-table tbody tr.cart-item.inactive td {
      position: relative; }
      .cart-items .cart-items-table tbody tr.cart-item.inactive td .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background: #fff;
        opacity: 0.7;
        visibility: visible; }
    .cart-items .cart-items-table tbody tr.cart-item.inactive:hover .overlay {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0.4s, opacity 0.4s linear; }
    .cart-items .cart-items-table tbody tr.cart-item.open td {
      vertical-align: top; }
      .cart-items .cart-items-table tbody tr.cart-item.open td.items .more-info {
        display: block; }
      .cart-items .cart-items-table tbody tr.cart-item.open td.prices .more-info {
        display: block; }
      .cart-items .cart-items-table tbody tr.cart-item.open td.units-sizes .gradient {
        display: none; }
      .cart-items .cart-items-table tbody tr.cart-item.open td.units-sizes .more-units-sizes {
        display: block; }
      .cart-items .cart-items-table tbody tr.cart-item.open td.actions .more-actions {
        display: block; }
    .cart-items .cart-items-table tbody tr.cart-item td {
      padding: 5px 2px;
      vertical-align: top; }
      .cart-items .cart-items-table tbody tr.cart-item td p {
        margin: 0; }
      .cart-items .cart-items-table tbody tr.cart-item td .name {
        font-weight: 700;
        color: #000;
        font-size: 18px;
        cursor: pointer; }
      .cart-items .cart-items-table tbody tr.cart-item td .brand {
        font-size: 18px; }
      .cart-items .cart-items-table tbody tr.cart-item td.items .more-info {
        display: none; }
        .cart-items .cart-items-table tbody tr.cart-item td.items .more-info .details-info {
          font-size: 14px; }
          .cart-items .cart-items-table tbody tr.cart-item td.items .more-info .details-info .details-info-label {
            text-transform: uppercase;
            color: #000;
            padding-right: 5px;
            font-weight: 700; }
      .cart-items .cart-items-table tbody tr.cart-item td.prices .more-info {
        display: none; }
        .cart-items .cart-items-table tbody tr.cart-item td.prices .more-info .details-info {
          font-size: 14px; }
          .cart-items .cart-items-table tbody tr.cart-item td.prices .more-info .details-info .details-info-label {
            text-transform: uppercase;
            color: #000;
            padding-right: 5px;
            font-weight: 700; }
      .cart-items .cart-items-table tbody tr.cart-item td .unit-price {
        font-weight: 700;
        color: #000;
        font-size: 16px; }
        .cart-items .cart-items-table tbody tr.cart-item td .unit-price span {
          font-weight: normal;
          font-size: 14px;
          color: #bfbfbf;
          padding-left: 5px; }
      .cart-items .cart-items-table tbody tr.cart-item td .discount {
        font-size: 16px; }
        .cart-items .cart-items-table tbody tr.cart-item td .discount .discount-percentage {
          font-weight: 700;
          color: #000; }
        .cart-items .cart-items-table tbody tr.cart-item td .discount span {
          font-weight: normal;
          font-size: 14px;
          color: #bfbfbf;
          padding-left: 5px; }
      .cart-items .cart-items-table tbody tr.cart-item td .price {
        font-weight: 700;
        color: #000;
        font-size: 20px; }
      .cart-items .cart-items-table tbody tr.cart-item td.item-image {
        width: 90px;
        text-align: center;
        padding: 5px 0; }
        .cart-items .cart-items-table tbody tr.cart-item td.item-image img {
          width: 100%;
          max-width: 40px; }
        .cart-items .cart-items-table tbody tr.cart-item td.item-image .more-details {
          cursor: pointer;
          font-size: 14px; }
          .cart-items .cart-items-table tbody tr.cart-item td.item-image .more-details i {
            margin-right: 2px; }
      .cart-items .cart-items-table tbody tr.cart-item td.actions {
        vertical-align: top; }
        .cart-items .cart-items-table tbody tr.cart-item td.actions .more-actions {
          display: none; }
        .cart-items .cart-items-table tbody tr.cart-item td.actions i {
          color: #e0e0e0;
          cursor: pointer; }
          .cart-items .cart-items-table tbody tr.cart-item td.actions i + i {
            margin-left: 2px; }
          .cart-items .cart-items-table tbody tr.cart-item td.actions i.fa-times-circle {
            color: rgba(233, 135, 135, 0.7); }
          .cart-items .cart-items-table tbody tr.cart-item td.actions i.fa-check-circle {
            color: rgba(138, 179, 0, 0.7); }
      .cart-items .cart-items-table tbody tr.cart-item td.units-sizes {
        vertical-align: top;
        position: relative;
        font-size: 14px; }
        .cart-items .cart-items-table tbody tr.cart-item td.units-sizes .qty-sizes {
          cursor: pointer; }
          .cart-items .cart-items-table tbody tr.cart-item td.units-sizes .qty-sizes .qty-sizes-menu {
            width: 100%;
            max-width: 280px; }
          .cart-items .cart-items-table tbody tr.cart-item td.units-sizes .qty-sizes + .qty-sizes {
            margin-top: 5px; }
        .cart-items .cart-items-table tbody tr.cart-item td.units-sizes .units-size-info {
          margin: 0;
          border: 1px solid #000;
          padding: 0 10px; }
          .cart-items .cart-items-table tbody tr.cart-item td.units-sizes .units-size-info .bold {
            font-weight: 700; }
          .cart-items .cart-items-table tbody tr.cart-item td.units-sizes .units-size-info .unit-count {
            text-transform: uppercase; }
            .cart-items .cart-items-table tbody tr.cart-item td.units-sizes .units-size-info .unit-count span {
              color: #000; }
          .cart-items .cart-items-table tbody tr.cart-item td.units-sizes .units-size-info .units-price {
            font-weight: bold;
            color: #000; }
          .cart-items .cart-items-table tbody tr.cart-item td.units-sizes .units-size-info .total-price {
            color: #000; }
          .cart-items .cart-items-table tbody tr.cart-item td.units-sizes .units-size-info .col-md-3 {
            padding: 2px 0;
            line-height: 15px; }
        .cart-items .cart-items-table tbody tr.cart-item td.units-sizes .more-units-sizes {
          display: none;
          margin-top: 5px; }
        .cart-items .cart-items-table tbody tr.cart-item td.units-sizes .gradient {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
          background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
          /* IE6-9 */ }

#wrapper {
  margin-left: 260px; }
  #wrapper .details-container {
    margin-top: 50px; }
    #wrapper .details-container .review-title {
      font-size: 17px;
      text-transform: uppercase;
      text-align: center;
      line-height: 36px;
      letter-spacing: 0.1em;
      font-weight: 800;
      color: #383838;
      margin-bottom: 25px; }
    #wrapper .details-container .form-date-group {
      line-height: 45px;
      padding-right: 0px; }
      #wrapper .details-container .form-date-group .data-group {
        display: -webkit-inline-box;
        margin-right: 30px; }
      #wrapper .details-container .form-date-group .take-group {
        display: -webkit-inline-box;
        margin-left: 5px; }
      #wrapper .details-container .form-date-group .label-text {
        font-weight: 400;
        color: #000;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        padding-right: 10px; }
      #wrapper .details-container .form-date-group .date-form {
        width: 36px;
        padding: 0;
        height: 22px;
        border-radius: 1px;
        font-style: italic;
        vertical-align: baseline; }
      #wrapper .details-container .form-date-group input:hover::-webkit-input-placeholder {
        color: #000; }
      #wrapper .details-container .form-date-group input:hover::-moz-placeholder {
        color: #000; }
      #wrapper .details-container .form-date-group .date-form:hover {
        color: #000;
        border-color: #000; }
      #wrapper .details-container .form-date-group input:focus {
        border: 1px solid #cbcbcb;
        outline: none;
        box-shadow: unset; }
      #wrapper .details-container .form-date-group .year-input {
        width: 51px; }
      #wrapper .details-container .form-date-group .box-input {
        width: 21px;
        height: 21px;
        position: relative;
        right: 5px; }
    #wrapper .details-container .border-line-up {
      border-top: 1px solid #ededed;
      outline-offset: 15px;
      padding-top: 5px; }
    #wrapper .details-container .border-line-down {
      border-bottom: 1px solid #ededed;
      outline-offset: 15px;
      margin-top: 5px; }
    #wrapper .details-container .upload-btn {
      letter-spacing: 0.08em;
      width: 200px;
      margin-left: 20px; }
    #wrapper .details-container .information-page .nav-products {
      line-height: 36px;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      font-size: 16px;
      margin: 10px 0; }
      #wrapper .details-container .information-page .nav-products a.active {
        font-weight: 700; }
      #wrapper .details-container .information-page .nav-products .message-error {
        color: #ea5555; }
      #wrapper .details-container .information-page .nav-products a:after {
        color: #cbcbcb; }
      #wrapper .details-container .information-page .nav-products a:last-child:after {
        display: none; }
      #wrapper .details-container .information-page .nav-products span {
        font-size: 14px; }
    #wrapper .details-container .table-products {
      padding: 0 15px; }
      #wrapper .details-container .table-products table {
        margin-bottom: 0px; }
        #wrapper .details-container .table-products table thead {
          background-color: #f5f5f5; }
          #wrapper .details-container .table-products table thead tr th {
            border: 0;
            line-height: 18px;
            letter-spacing: 0.05em;
            font-weight: 400;
            text-transform: capitalize;
            text-align: center;
            color: #000;
            vertical-align: middle;
            padding: 8px 10px; }
          #wrapper .details-container .table-products table thead tr .detail-th {
            width: 35%;
            text-align: left; }
        #wrapper .details-container .table-products table tbody tr {
          text-align: center;
          color: #000; }
          #wrapper .details-container .table-products table tbody tr.excluded {
            opacity: 0.4;
            -webkit-transition: opacity 0.5s ease-in-out;
            -moz-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out; }
            #wrapper .details-container .table-products table tbody tr.excluded:hover {
              opacity: 1; }
          #wrapper .details-container .table-products table tbody tr td {
            text-transform: capitalize;
            text-align: center;
            letter-spacing: 0.05em;
            vertical-align: middle;
            border-color: #ededed;
            padding: 15px; }
            #wrapper .details-container .table-products table tbody tr td .bold-number {
              font-weight: 600;
              line-height: 18px; }
          #wrapper .details-container .table-products table tbody tr .image-size .more-details {
            line-height: 24px;
            letter-spacing: 0.1em;
            margin: 0;
            text-transform: lowercase; }
          #wrapper .details-container .table-products table tbody tr .details-table {
            vertical-align: -webkit-baseline-middle; }
            #wrapper .details-container .table-products table tbody tr .details-table .details-text {
              text-align: left;
              line-height: 24px; }
              #wrapper .details-container .table-products table tbody tr .details-table .details-text p {
                margin: 0; }
              #wrapper .details-container .table-products table tbody tr .details-table .details-text .name-product {
                font-size: 16px;
                color: #4597c2;
                cursor: pointer; }
              #wrapper .details-container .table-products table tbody tr .details-table .details-text .bold-name {
                font-weight: 600; }
                #wrapper .details-container .table-products table tbody tr .details-table .details-text .bold-name span {
                  font-weight: 400; }
          #wrapper .details-container .table-products table tbody tr .price-number {
            color: #4597c2;
            text-decoration: underline; }
        #wrapper .details-container .table-products table tbody .total-row {
          background-color: #FBFBFB; }
          #wrapper .details-container .table-products table tbody .total-row td {
            border: 0;
            padding-left: 0;
            padding: 5px 0; }
            #wrapper .details-container .table-products table tbody .total-row td .check-linebuy {
              margin: 0px; }
              #wrapper .details-container .table-products table tbody .total-row td .check-linebuy input[type="checkbox"] + label {
                padding: 0;
                letter-spacing: 0.05em;
                line-height: 18px;
                margin-right: 10px; }
              #wrapper .details-container .table-products table tbody .total-row td .check-linebuy input[type="checkbox"] + label span {
                width: 16px;
                height: 16px;
                margin: 0 5px; }
        #wrapper .details-container .table-products table tbody .checkbox-lb {
          margin: 0px; }
          #wrapper .details-container .table-products table tbody .checkbox-lb input[type="checkbox"] + label {
            padding: 0px; }
          #wrapper .details-container .table-products table tbody .checkbox-lb input[type="checkbox"] + label span {
            margin: 0px 13px 0px 20px; }
    #wrapper .details-container .slash {
      padding: 0 5px;
      color: #cbcbcb; }

.include-exclude {
  font-size: 16px;
  vertical-align: middle;
  color: #e5e5e5;
  top: 1px;
  position: relative;
  cursor: pointer; }

.include-icon {
  color: #8AB300;
  outline: none;
  box-shadow: unset; }

.exclude-icon {
  color: #e18b87;
  outline: none;
  box-shadow: unset; }

.supporting-upload .upload-information {
  text-align: center;
  margin-top: 40px;
  letter-spacing: 0.05em;
  color: #000; }
  .supporting-upload .upload-information .details-title {
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: 0.1em; }
  .supporting-upload .upload-information .note {
    font-size: 16px;
    line-height: 24px;
    color: #383838;
    margin: 0; }
.supporting-upload .continue-btn {
  width: 170px; }
  .supporting-upload .continue-btn .arrow {
    left: 2px; }

.title-page {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  font-size: 17px;
  letter-spacing: 0.1em;
  line-height: 36px;
  color: #000; }

/*.summary-area {
    color: $black;

    .label-properties {
        letter-spacing: 0.05em;
    }

    .input-properties {
        width: initial;
        border: none;
        text-align: left;
        padding: 0;
    }
}*/
.summary-box {
  padding: 10px 15px;
  text-transform: capitalize;
  font-weight: 600;
  color: #000;
  letter-spacing: 0.05em;
  font-size: 13px;
  line-height: 30px; }
  .summary-box p {
    margin: 0; }
    .summary-box p span {
      color: #3D3D3D;
      text-transform: uppercase;
      padding-left: 5px;
      font-weight: 400; }

.terms-conditions {
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 36px; }
  .terms-conditions a {
    text-decoration: underline; }

.publish-btn {
  width: 220px !important;
  margin-left: 55px;
  letter-spacing: 0.08em !important; }

.box-line {
  border: 1px solid #ededed; }

.product-information {
  letter-spacing: 0.05em;
  line-height: 30px;
  color: #000; }
  .product-information p {
    font-weight: 600;
    text-transform: capitalize;
    margin: 0; }
    .product-information p span {
      font-weight: 400;
      padding-left: 5px;
      color: #3D3D3D;
      margin: 0;
      line-height: 24px; }
    .product-information p .multiple {
      text-transform: lowercase;
      padding-left: 0; }
    .product-information p .specials {
      color: #4597c2;
      text-decoration: underline; }
    .product-information p .description-product {
      display: block;
      padding-left: 0;
      text-transform: none;
      letter-spacing: 0.08em; }

.btn-btn .raport-btn {
  width: 200px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000; }
.btn-btn .offer-details-btn {
  width: 200px; }
  .btn-btn .offer-details-btn .arrow {
    right: 30px; }

.size-image-table p {
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 36px;
  color: #000;
  margin-bottom: 20px; }
  .size-image-table p span {
    text-transform: lowercase; }
.size-image-table .table-size {
  width: 160px;
  text-transform: uppercase;
  background-color: #FBFBFB;
  color: #000;
  letter-spacing: 0.05em; }
  .size-image-table .table-size tbody tr td {
    border-top: none;
    padding: 4px 5px; }
  .size-image-table .table-size tbody tr .size-font {
    text-transform: capitalize; }
  .size-image-table .table-size tbody tr:hover {
    background-color: #f5f5f5; }
  .size-image-table .table-size tbody tr:last-child {
    background-color: #000;
    color: white;
    font-weight: 600; }
  .size-image-table .table-size tbody .size-column {
    font-weight: 600; }
  .size-image-table .table-size tbody .unit-column {
    color: #4597c2;
    text-decoration: underline; }
.size-image-table .image-pictures {
  padding: 20px 20px; }

.nav-steps .page-steps span {
  color: #000;
  padding: 0px 5px; }

.report-information .title-report {
  font-size: 17px;
  letter-spacing: 0.1em;
  line-height: 36px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000; }
.report-information .info-raport {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em; }

.product-error p {
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 30px;
  text-transform: capitalize;
  color: #000;
  margin: 0; }
  .product-error p span {
    font-weight: 400;
    padding-left: 5px;
    color: #555; }
.product-error .textarea-error {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.05em;
  line-height: 30px;
  text-align: left;
  padding: 10px 20px;
  resize: none;
  margin-top: 20px; }
.product-error ::-webkit-input-placeholder {
  color: #808080; }
.product-error .error-btn {
  width: 200px;
  margin-bottom: 70px; }

body {
  font-family: "futura-pt",sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased; }

img {
  max-width: 100%; }

li {
  list-style: none; }

input {
  border: 1px solid #cbcbcb;
  color: #808080;
  letter-spacing: 1px;
  line-height: initial;
  padding: 13px 25px;
  text-align: center;
  width: 100%; }

input:focus {
  border: 1px solid #cbcbcb;
  outline: none; }

::-webkit-input-placeholder {
  color: #383838; }

a {
  color: #383838; }
  a:focus {
    text-decoration: none;
    color: #383838; }
  a:hover {
    text-decoration: none;
    color: #383838; }
  a:active {
    text-decoration: none;
    color: #383838; }

textarea {
  border: 1px solid #cbcbcb;
  color: #808080;
  letter-spacing: 1px;
  line-height: initial;
  text-align: center;
  width: 100%; }

textarea:focus {
  border: 1px solid #cbcbcb;
  outline: none; }

.button {
  background-color: #000;
  border: none;
  color: #fff;
  display: inline-block;
  letter-spacing: 1px;
  padding: 11px 25px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  outline: none;
  width: 100%; }

input[type="radio"] {
  display: none; }

input[type="radio"] + label span {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 15px 0px 40px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  cursor: pointer;
  position: relative;
  bottom: 2px; }

input[type="radio"]:checked + label span {
  background-color: #000;
  border: 1px solid #000; }

input[type="radio"] + label span:hover {
  border-color: #000; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label span {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 13px 0px 40px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  cursor: pointer;
  position: relative;
  bottom: 2px; }

input[type="checkbox"]:checked + label span {
  background-color: #000;
  border: 1px solid #000; }

input[type="checkbox"] + label span:hover {
  border-color: #000; }

.error-messages {
  color: #DA1B00;
  position: absolute;
  bottom: -20px;
  left: 5px;
  font-size: 13px; }

.subtitle-home {
  color: #000;
  text-align: center; }
  .subtitle-home .first-subtitle {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.7px;
    line-height: 1em; }
  .subtitle-home .second-subtitle {
    font-size: 20px;
    letter-spacing: 1.5px;
    text-align: center; }

button[disabled] {
  background-color: #4a4a4a; }

.fa.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear; }

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg); }
  to {
    transform: scale(1) rotate(360deg); } }
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
.submit-error {
  color: #DA1B00; }

.navigation a {
  display: inline-block; }
.navigation a:hover {
  color: #c99947;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
.navigation a:after {
  content: "|";
  padding: 0 5px;
  display: inline-block; }

.subtitle {
  text-align: initial; }

.nav-steps .page-steps {
  text-transform: capitalize;
  letter-spacing: 0.05em;
  cursor: pointer;
  margin: 0px;
  line-height: 24px; }
  .nav-steps .page-steps .second-page {
    color: #000; }

select {
  border: 1px solid #cbcbcb;
  color: #808080;
  letter-spacing: 1px;
  line-height: initial;
  padding: 13px 25px;
  text-align: center;
  width: 100%; }
  select.light {
    color: #383838; }
  select.center {
    text-align: center;
    text-align-last: center; }
    select.center option {
      text-align: left; }

.logout-button:hover {
  text-decoration: underline; }

.text-right {
  text-align: right; }

.border-box {
  border-bottom: 1px solid #ededed;
  padding-bottom: 15px; }

a:hover,
a :focus,
a :active {
  text-decoration: none; }

.arrow {
  font-size: 20px;
  top: 2px;
  position: relative; }

.arrow-left {
  font-size: 20px; }

.bs-wizard {
  margin-top: 35px; }
  .bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative; }
    .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
      color: #383838;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
      left: calc(50% - 42px);
      position: relative;
      width: 80px;
      text-align: center; }
    .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
      position: absolute;
      width: 42px;
      height: 42px;
      line-height: 42px;
      font-size: 24px;
      font-weight: 600;
      display: block;
      background: #000;
      color: #fff;
      top: 54px;
      left: calc(50% - 21px);
      border-radius: 50%;
      text-align: center; }
    .bs-wizard > .bs-wizard-step > .progress {
      position: relative;
      border-radius: 0px;
      height: 5px;
      box-shadow: none;
      margin: 24px 0;
      left: calc(50% - 21px); }
      .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
        box-shadow: none;
        background: #ededed; }
    .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
      background-color: #000;
      width: 100%; }
    .bs-wizard > .bs-wizard-step.disabled .bs-wizard-stepnum {
      color: #d1d1d1; }
    .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
      background: #ededed; }
    .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
      pointer-events: none; }
    .bs-wizard > .bs-wizard-step.last .progress {
      width: 0px; }

.error {
  color: #DA1B00; }

/*# sourceMappingURL=main.css.map */
