﻿<div class="container description-container">
    <div class="row">
        <div class="col-md-12">
            <div class="navigation margin-t-10">
                <a href="#">Home</a>
                <span>Brands</span>
            </div>
            <div class="subtitle-home margin-t-20 left">
                <p class="first-subtitle subtitle">Brands </p>
                <p class="second-subtitle text-left">We Have Collected Our Favorites Brands For the Season</p>
            </div>
        </div>
    </div>
</div>