﻿<div class="cart-items">
    <div class="cart-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1>Your selection</h1>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4 cart-summary-el">
                            <p class="el-title">Items</p>
                            <p class="el-content">{{cart.products.length}}</p>
                        </div>
                        <div class="col-md-3 cart-summary-el">
                            <p class="el-title">Units</p>
                            <p class="el-content">224</p>
                        </div>
                        <div class="col-md-5 cart-summary-el">
                            <p class="el-title">Total Cost</p>
                            <p class="el-content">$946,523.45</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 text-right">
                    <button class="button inverse btn-export">Export</button>
                    <button class="button big-font">continue purchase<i class="fa fa-angle-right arrow padding-l-20" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="cart-items-table" ng-if="cart.groupByType === 'default'">
                    <thead>
                        <tr>
                            <th>
                                <div class="btn-group filter-dropdown">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Group by <span class="fa fa-angle-down"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-click="cart.groupBy($event, 'default')"><a href="#">Default</a></li>
                                        <li ng-click="cart.groupBy($event, 'category')"><a href="#">Category</a></li>
                                        <li ng-click="cart.groupBy($event, 'brand')"><a href="#">Brand</a></li>
                                    </ul>
                                </div>
                            </th>
                            <th class="empty"></th>
                            <th>
                                Items
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Total Cost
                            </th>
                            <th class="units-sizes-header">
                                Seller Units & Size
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cart-item" ng-class="{'open' : product.isOpen, 'inactive' : product.inactive}" ng-repeat="product in cart.products | orderBy : '+inactive'">
                            <td class="item-image">
                                <img ng-src="{{product.img}}" />
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td></td>
                            <td class="items">
                                <p class="name" ng-click="cart.open($event, product)">
                                    <i class="fa" ng-class="{'fa-angle-down' : !product.isOpen, 'fa-angle-up' : product.isOpen}"></i> Navy Leather Sneaker
                                </p>
                                <p class="brand">
                                    {{product.brand}}
                                </p>
                                <div class="more-info">
                                    <p class="details-info"><span class="details-info-label">Category:</span>{{product.category}}</p>
                                    <p class="details-info"><span class="details-info-label">Product Id:</span>{{product.productId}}</p>
                                    <p class="details-info"><span class="details-info-label">Material:</span>{{product.material}}</p>
                                </div>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td class="prices">
                                <p class="unit-price">
                                    ${{product.price}}<span>{{product.sellers.length === 1 ? 'Cost' : 'Average'}}</span>
                                </p>
                                <p class="discount">
                                    Discount: <span class="discount-percentage">{{product.discount}}</span><span>{{product.sellers.length === 1 ? 'Cost' : 'Average'}}</span>
                                </p>
                                <div class="more-info">
                                    <p class="details-info"><span class="details-info-label">Color:</span>{{product.color}}</p>
                                    <p class="details-info"><span class="details-info-label">Season:</span>{{product.season}}</p>
                                </div>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td>
                                <p class="price">
                                    ${{product.totalCost}}
                                </p>
                                <p>
                                    &nbsp;
                                </p>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td class="units-sizes">
                                <div class="dropdown qty-sizes" ng-repeat="seller in product.sellers">
                                    <div class="row units-size-info dropdown-toggle" data-toggle="dropdown">
                                        <div class="col-md-3 seller-info">{{seller.name}}</div>
                                        <div class="col-md-3 unit-count"><span class="bold">{{seller.units}}</span> Units</div>
                                        <div class="col-md-3 units-price"><span>@</span> ${{seller.unitPrice}}</div>
                                        <div class="col-md-3 total-price bold">${{seller.totalCost}}</div>
                                    </div>
                                    <ul class="dropdown-menu qty-sizes-menu" aria-labelledby="dLabel">
                                        <li class="margin-t-15">
                                            <div class="col-md-12">
                                                <p class="dropdown-title">luxury trade 85 gmbh</p>
                                                <p class="dropdown-subtitle">ships from&#58; italy</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col-md-12 select-remove">
                                                <p class="col-md-6">Select All</p>
                                                <p class="col-md-6 remove">Remove All</p>
                                            </div>
                                        </li>
                                        <li class="detail-order">
                                            <div class="col-md-4">
                                                <p class="padding-l-15">size</p>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="align-center">order</p">
                                            </div>
                                            <div class="col-md-4">
                                                <p class="detail-qty">qty</p>
                                            </div>
                                        </li>
                                        <li class="items col-md-12">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </li>
                                        <li class="items col-md-12">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </li>
                                        <li class="items col-md-12">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </li>
                                        <li class="items col-md-12">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </li>
                                        <li class="items col-md-12">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </li>
                                        <li class="items col-md-12">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </li>
                                        <li class="items col-md-12">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </li>
                                        <li class="col-md-12 margin-b-15 margin-t-10 text-center items">
                                            <button class="button add-button">add to linesheet</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td class="actions">
                                <p class="text-center" ng-repeat="seller in product.sellers" ng-click="cart.setSellerActive($event, product, seller)">
                                    <i class="fa" ng-class="{'fa-check-circle' : !seller.active, 'fa-times-circle' : seller.active}"></i>
                                </p>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="cart-items-table" ng-if="cart.groupByType !== 'default'" ng-repeat="(key, value) in cart.products | groupBy: cart.groupingField">
                    <thead>
                        <tr>
                            <th>
                                <div class="btn-group filter-dropdown">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Group by <span class="fa fa-angle-down"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-click="cart.groupBy($event, 'default')"><a href="#">Default</a></li>
                                        <li ng-click="cart.groupBy($event, 'category')"><a href="#">Category</a></li>
                                        <li ng-click="cart.groupBy($event, 'brand')"><a href="#">Brand</a></li>
                                    </ul>
                                </div>
                            </th>
                            <th class="empty"></th>
                            <th>
                                Items
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Total Cost
                            </th>
                            <th class="units-sizes-header">
                                Seller Units & Size
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cart-item" ng-class="{'open' : product.isOpen, 'inactive' : product.inactive}" ng-repeat="product in value | orderBy : '+inactive'">
                            <td class="item-image">
                                <img ng-src="{{product.img}}" />
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td></td>
                            <td class="items">
                                <p class="name" ng-click="cart.open($event, product)">
                                    <i class="fa" ng-class="{'fa-angle-down' : !product.isOpen, 'fa-angle-up' : product.isOpen}"></i> Navy Leather Sneaker
                                </p>
                                <p class="brand">
                                    {{product.brand}}
                                </p>
                                <div class="more-info">
                                    <p class="details-info"><span class="details-info-label">Category:</span>{{product.category}}</p>
                                    <p class="details-info"><span class="details-info-label">Product Id:</span>{{product.productId}}</p>
                                    <p class="details-info"><span class="details-info-label">Material:</span>{{product.material}}</p>
                                </div>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td class="prices">
                                <p class="unit-price">
                                    ${{product.price}}<span>{{product.sellers.length === 1 ? 'Cost' : 'Average'}}</span>
                                </p>
                                <p class="discount">
                                    Discount: <span class="discount-percentage">{{product.discount}}</span><span>{{product.sellers.length === 1 ? 'Cost' : 'Average'}}</span>
                                </p>
                                <div class="more-info">
                                    <p class="details-info"><span class="details-info-label">Color:</span>{{product.color}}</p>
                                    <p class="details-info"><span class="details-info-label">Season:</span>{{product.season}}</p>
                                </div>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td>
                                <p class="price">
                                    ${{product.totalCost}}
                                </p>
                                <p>
                                    &nbsp;
                                </p>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td class="units-sizes">
                                <div class="dropdown qty-sizes" ng-repeat="seller in product.sellers">
                                    <div class="row units-size-info dropdown-toggle" data-toggle="dropdown">
                                        <div class="col-md-3 seller-info">{{seller.name}}</div>
                                        <div class="col-md-3 unit-count"><span class="bold">{{seller.units}}</span> Units</div>
                                        <div class="col-md-3 units-price"><span>@</span> ${{seller.unitPrice}}</div>
                                        <div class="col-md-3 total-price bold">${{seller.totalCost}}</div>
                                    </div>
                                    <ul class="dropdown-menu qty-sizes-menu" aria-labelledby="dLabel">
                                        <li class="margin-t-15">
                                            <div class="col-md-12">
                                                <p class="dropdown-title">luxury trade 85 gmbh</p>
                                                <p class="dropdown-subtitle">ships from&#58; italy</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col-md-12 select-remove">
                                                <p class="col-md-6">Select All</p>
                                                <p class="col-md-6 remove">Remove All</p>
                                            </div>
                                        </li>
                                        <li class="detail-order">
                                            <div class="col-md-4">
                                                <p class="padding-l-15">size</p>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="align-center">order</p">
                                            </div>
                                            <div class="col-md-4">
                                                <p class="detail-qty">qty</p>
                                            </div>
                                        </li>
                                        <li class="items col-md-12">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </li>
                                        <li class="items col-md-12">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </li>
                                        <li class="items col-md-12">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </li>
                                        <li class="items col-md-12">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </li>
                                        <li class="items col-md-12">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </li>
                                        <li class="items col-md-12">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </li>
                                        <li class="items col-md-12">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </li>
                                        <li class="col-md-12 margin-b-15 margin-t-10 text-center items">
                                            <button class="button add-button">add to linesheet</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td class="actions">
                                <p class="text-center" ng-repeat="seller in product.sellers" ng-click="cart.setSellerActive($event, product, seller)">
                                    <i class="fa" ng-class="{'fa-check-circle' : !seller.active, 'fa-times-circle' : seller.active}"></i>
                                </p>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
