﻿<!-- Home Container -->
<div class="container-fluid nopadding banner-content-home" id="homepage">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 banner-text">
                        <h3>Dior Sunglasses</h3>
                        <span>Great shades from the iconic designer</span>
                        <a href="#" class="button shop-button">Shop this offer</a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container home-content">
    <div class="row">
        <div class="col-md-12 subtitle-home margin-t-40">
            <p class="first-subtitle margin-b-20">Spring is Here&#33; Shop the Latest Trends</p>
            <p class="second-subtitle text-left">We Have Collected Our Favorites For the Season</p>
        </div>
    </div>
    <div class="row margin-t-20">
        <div class="col-md-6 no-padding-l">
            <a href="#">
                <div class="product-banner product-category">
                    <h3 class="text">Burberry <br />Accessories</h3>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 nopadding">
                    <a href="#">
                        <div class="product-one product-category">
                            <h3 class="text">Spring's<br />Best Handbags</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 nopadding">
                    <a href="#">
                        <div class="product-two product-category">
                            <h3 class="text">Tom Ford<br />Menswear</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 no-padding-l">
            <a href="#">
                <div class="product-three product-category">
                    <h3 class="text effect">Spring Trends:<br />Lightweight<br />Scarves</h3>
                </div>
            </a>
        </div>
        <div class="col-md-6 nopadding">
            <a href="#">
                <div class="product-four product-category">
                    <h3 class="text effect">Lanvin Apparel</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 subtitle-home margin-t-40">
            <p class="first-subtitle margin-b-20">Shop bestsellers</p>
            <p class="second-subtitle">Our partners can't get enough of these great items</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 margin-t-30 bestsellers-section">
            <div class="row">
                <div class="item col-md-3">
                    <a href="#">
                        <img src="assets/images/products/a.jpg" alt="product" />
                    </a>
                    <div class="item-caption">
                        <a href="#" class="item-brand">Tart</a>
                        <span class="item-name">Kaelyn Hidden Button Jumpsuit</span>
                        <p class="item-price">Best price&#58; <span>$107.99</span></p>
                    </div>
                </div>
                <div class="item col-md-3">
                    <a href="#">
                        <img src="assets/images/products/b.jpg" alt="product" />
                    </a>
                    <div class="item-caption">
                        <a href="#" class="item-brand">Diane von Furstenberg</a>
                        <span class="item-name">Arleen Wrap Jumpsuit</span>
                        <p class="item-price">Best price&#58; <span>$107.99</span></p>
                    </div>
                </div>
                <div class="item col-md-3">
                    <a href="#">
                        <img src="assets/images/products/c.jpg" alt="product" />
                    </a>
                    <div class="item-caption">
                        <a href="#" class="item-brand">BCBGeneration</a>
                        <span class="item-name">Printed Sportwear Jumper</span>
                        <p class="item-price">Best price&#58; <span>$93.99</span></p>
                    </div>
                </div>
                <div class="item col-md-3">
                    <a href="#">
                        <img src="assets/images/products/d.jpg" alt="product" />
                    </a>
                    <div class="item-caption">
                        <a href="#" class="item-brand">Derek Lam 10 Crosby</a>
                        <span class="item-name">Saddle Stud Deep V Jumpsuit</span>
                        <p class="item-price">Best price&#58; <span>$337.99</span></p>
                    </div>
                </div>
            </div>
            <!--<div class="item">
                <a href="#">
                    <img src="assets/images/products/e.jpg" alt="product" />
                </a>
                <div class="item-caption">
                    <a href="#" class="item-brand">Diane von Furstenberg</a>
                    <span class="item-name">Arleen Wrap Jumpsuit</span>
                    <p class="item-price">Best price&#58; <span>$107.99</span></p>
                </div>
            </div>-->
        </div>
    </div>
</div>