﻿ <!-- Header Home -->
<header id="header-luxury">
    <div class="container head">
        <div class="main-menu-wapper">
            <div class="row">
                <div class="col-sm-12 col-md-12 menu-wapper">
                    <div class="top-header">
                        <div class="col-xs-2 col-sm-3 col-md-7 col-lg-4"></div>
                        <div class="col-sm-12 col-md-12 col-lg-4 logo" ui-sref="site.home">
                            <img src="assets/images/logos/1.png" alt="logo">
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-5 col-lg-4 box-control no-padding-r">
                            <div class="col-md-1"></div>
                            <div class="col-sm-4 col-md-5">
                                <ul id="usermenuwrapper" >
                                    <li class="username">
                                        <div class="btn-group btn-changes">
                                            <button id="usermenu" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                John Luca <span class="fa fa-angle-down"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" ui-sref="admin.dashboard">Dashboard</a></li>
                                                <li><a href="#" ui-sref="admin.dashboard">Account Settings</a></li>
                                                <li><a href="#" ng-click="main.logout($event)">Sign out</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="type">Elite</li>
                                    <li class="language"><span>Eng</span></li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-md-2 linesheet">Linesheet&#58;</div>
                            <div class="col-sm-4 col-md-4 mini-cart no-padding-l">
                                <a class="cart-link" ui-sref="site.cart">
                                    <ul class="items-cart">
                                        <li><span>3</span>&nbsp;Items</li>
                                        <li><span>10</span>&nbsp;Units</li>
                                        <li><span>$299.99</span>&nbsp;Order</li>
                                    </ul>
                                </a>
                                <!-- Dropdown shopping cart -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 nopadding">
                <ul id="sitemenu" class="luxury-nav" ng-controller="SiteMenuController as menu">
                    <li ng-repeat="item in menu.items">
                        <a href="#" ng-class="{'active' : item.active}" ng-bind="item.label" ng-click="menu.menuItemClick($event, item)"></a>
                    </li>
                    <li>
                        <a href="#">Search</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- End Header Home -->


<ui-view></ui-view>

<!-- End Home Container -->
<!-- Footer -->
<!-- Footer -->
<div id="top-footer">
    <div class="container footer-m nopadding">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <span class="border-l"></span>
            </div>
            <div class="col-sm-12 col-md-2">
                <img src="assets/images/logos/2.png" alt="">
            </div>
            <div class="col-sm-12 col-md-5">
                <span class="border-l"></span>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="contact-info">
                        <h3 class="contact-title">About</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="contact-info">
                        <h3 class="contact-title">Customer Service</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="contact-info">
                        <h3 class="contact-title">Policies</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="contact-info">
                        <h3 class="contact-title">Contact</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11 col-sm-12 copyright">
                <span>Copyright  © 2016 Luxury Market. All Rights Reserved</span>
            </div>
        </div>
    </div>
</div>