﻿<div class="container container-pages">
    <div class="row">
        <div class="col-md-12">
            <div class="navigation margin-t-10">
                <a href="#">Women&#39;s Shop</a>
                <a href="#">Non-Apparel</a>
                <a href="#">Shoes</a>
            </div>
        </div>
    </div>
</div>
<div class="container product-image">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 first-image">
                    <img src="../../../assets/images/products/big-shoes-1.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 images">
                    <div class="row">
                        <div class="col-md-6 second-image">
                            <img src="../../assets/images/products/small-shoes-1.jpg" />
                        </div>
                        <div class="col-md-6 third-image">
                            <img src="../../../assets/images/products/small-shoes-2.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row border-box">
                <div class="col-md-7 nopadding margin-t-20">
                    <div class="row">
                        <div class="product-title col-md-12">
                            <div class="row">
                                <div class="col-md-9">
                                    <p class="product-subtitle">Metallic leather ballet</p>
                                    <p class="brand">Gucci</p>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 product-details">
                            <div class="row">
                                <div class="col-md-7">
                                    <p class="product-info">product id&#58; <span>Lorem</span></p>
                                    <p class="product-info">origin&#58; <span>Italy</span></p>
                                    <p class="product-info">material&#58; <span>Leather</span></p>
                                </div>
                                <div class="col-md-5">
                                    <p class="product-info">color&#58; <span>Gold</span></p>
                                    <p class="product-info">season&#58; <span>Summer</span></p>
                                    <p class="product-info">retail price&#58; <span>$2000</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 margin-t-20 price-details">
                    <div class="row">
                        <div class="col-md-5 nopadding">
                            <p class="price">Best Price&#58;</p>
                        </div>
                        <div class="col-md-7 nopadding">
                            <button class="button price-button">$695.99</button>
                            <p class="price-info">discount&#58;<span class="discount-font">50%</span></p>
                            <p class="price-info">available units&#58;<span>12</span></p>
                            <p class="price-info">ships from:<span>Italy</span></p>
                            <p class="price-info">seller&#58;<span>A 123</span></p>
                            <p class="price-info">by type&#58;<span>Line Buy</span></p>
                            <div class="dropdown qty-sizes">
                                <button class="button empty-button dropdown-toggle" data-toggle="dropdown" type="button" id="dLabel">qty &#38; sizes<i class="fa fa-angle-up arrow-up" aria-hidden="true"></i></button>
                                <ul class="dropdown-menu qty-sizes-menu" aria-labelledby="dLabel">
                                    <li class="margin-t-15">
                                        <div class="padding-l-15">
                                            <p class="dropdown-title">luxury trade 85 gmbh</p>
                                            <p class="dropdown-subtitle">ships from&#58; italy</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row select-remove">
                                                    <p class="col-md-12 text-center">Line Buy</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="detail-order">
                                        <div class="row margin-0">
                                            <div class="col-md-4">
                                                <p class="padding-l-15">size</p>
                                            </div>
                                            <div class="col-md-4">
                                                <p class="align-center">order</p">
                                            </div>
                                            <div class="col-md-4">
                                                <p class="detail-qty">qty</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="items">
                                        <div class="row margin-0 row-items">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </div>
                                    </li>
                                    <li class="items">
                                        <div class="row margin-0 row-items">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </div>
                                    </li>
                                    <li class="items">
                                        <div class="row margin-0 row-items">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </div>
                                    </li>
                                    <li class="items">
                                        <div class="row margin-0 row-items">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </div>
                                    </li>
                                    <li class="items">
                                        <div class="row margin-0 row-items">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </div>
                                    </li>
                                    <li class="items">
                                        <div class="row margin-0 row-items">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </div>
                                    </li>
                                    <li class="items">
                                        <div class="row margin-0 row-items">
                                            <div class="col-md-3">
                                                <p class="size">it&nbsp;<span>35.5</span></p>
                                            </div>
                                            <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                            <div class="col-md-2"><span>0</span></div>
                                            <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                            <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                        </div>
                                    </li>
                                    <li class="margin-b-15 margin-t-10 text-center items row-items">
                                        <button class="button add-button">add to linesheet</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-l border-box">
                    <p class="details margin-0">product details</p>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 nopadding aditional-details">
                    <p class="details margin-b-20">aditional offers, size &#38; unit details</p>
                    <div class="row margin-0">
                        <div class="col-md-4 nopadding">
                            <div class="row">
                                <div class="col-md-9">
                                    <p class="price-info">offer price&#58;<span class="bold-price">$1999</span></p>
                                    <p class="price-info">available units&#58;<span>244</span></p>
                                    <p class="price-info">ships from&#58;<span>Italy</span></p>
                                    <p class="price-info">seller&#58;<span>A 123456</span></p>
                                    <p class="price-info">by type&#58;<span class="under-line">Line Buy</span></p>
                                    <div class="dropdown qty-sizes">
                                        <button class="button empty-button dropdown-toggle" data-toggle="dropdown" type="button" id="dLabel">qty &#38; sizes<i class="fa fa-angle-up arrow-up" aria-hidden="true"></i></button>
                                        <ul class="dropdown-menu qty-sizes-menu" aria-labelledby="dLabel">
                                            <li class="margin-t-15">
                                                <div class="padding-l-15">
                                                    <p class="dropdown-title">luxury trade 85 gmbh</p>
                                                    <p class="dropdown-subtitle">ships from&#58; italy</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row select-remove">
                                                            <p class="col-md-12 text-center">Line Buy</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="detail-order">
                                                <div class="row margin-0">
                                                    <div class="col-md-4">
                                                        <p class="padding-l-15">size</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="align-center">order</p">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="detail-qty">qty</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="margin-b-15 margin-t-10 text-center items row-items">
                                                <button class="button add-button">add to linesheet</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                        <div class="col-md-4 nopadding">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-9">
                                    <p class="price-info">offer price&#58;<span class="bold-price">$1799</spanclass="bold-price"></p>
                                    <p class="price-info">available units&#58;<span>324</span></p>
                                    <p class="price-info">ships from&#58;<span>Italy</span></p>
                                    <p class="price-info">seller&#58;<span>A 123</span></p>
                                    <p class="price-info">by type&#58;<span>Item</span></p>
                                    <div class="dropdown qty-sizes">
                                        <button class="button empty-button dropdown-toggle" data-toggle="dropdown" type="button" id="dLabel">qty &#38; sizes<i class="fa fa-angle-up arrow-up" aria-hidden="true"></i></button>
                                        <ul class="dropdown-menu qty-sizes-menu" aria-labelledby="dLabel">
                                            <li class="margin-t-15">
                                                <div class="padding-l-15">
                                                    <p class="dropdown-title">luxury trade 85 gmbh</p>
                                                    <p class="dropdown-subtitle">ships from&#58; italy</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row select-remove">
                                                            <p class="col-md-6">Select All</p>
                                                            <p class="col-md-6 remove">Remove All</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="detail-order">
                                                <div class="row margin-0">
                                                    <div class="col-md-4">
                                                        <p class="padding-l-15">size</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="align-center">order</p">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="detail-qty">qty</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="margin-b-15 margin-t-10 text-center items row-items">
                                                <button class="button add-button">add to linesheet</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                        <div class="col-md-4 nopadding">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-9">
                                    <p class="price-info">offer price&#58;<span class="bold-price">$1799</span></p>
                                    <p class="price-info">available units&#58;<span>12</span></p>
                                    <p class="price-info">ships from&#58;<span>Italy</span></p>
                                    <p class="price-info">seller&#58;<span>A 123456</span></p>
                                    <p class="price-info">by type&#58;<span>Line Buy</span></p>
                                    <div class="dropdown qty-sizes">
                                        <button class="button empty-button dropdown-toggle" data-toggle="dropdown" type="button" id="dLabel">qty &#38; sizes<i class="fa fa-angle-up arrow-up" aria-hidden="true"></i></button>
                                        <ul class="dropdown-menu qty-sizes-menu" aria-labelledby="dLabel">
                                            <li class="margin-t-15">
                                                <div class="padding-l-15">
                                                    <p class="dropdown-title">luxury trade 85 gmbh</p>
                                                    <p class="dropdown-subtitle">ships from&#58; italy</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row select-remove">
                                                            <p class="col-md-12 text-center">Line Buy</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="detail-order">
                                                <div class="row margin-0">
                                                    <div class="col-md-4">
                                                        <p class="padding-l-15">size</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="align-center">order</p">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="detail-qty">qty</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="margin-b-15 margin-t-10 text-center items row-items">
                                                <button class="button add-button">add to linesheet</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-0 nopadding margin-t-30">
                        <div class="col-md-4 nopadding">
                            <div class="row">
                                <div class="col-md-9">
                                    <p class="price-info">offer price&#58;<span class="bold-price">$1690</span></p>
                                    <p class="price-info">available units&#58;<span>12</span></p>
                                    <p class="price-info">ships from&#58;<span>Italy</span></p>
                                    <p class="price-info">seller&#58;<span>A 123456</span></p>
                                    <p class="price-info">by type&#58;<span class="under-line">Take All</span></p>

                                    <div class="dropdown qty-sizes">
                                        <button class="button empty-button dropdown-toggle" data-toggle="dropdown" type="button" id="dLabel">qty &#38; sizes<i class="fa fa-angle-up arrow-up" aria-hidden="true"></i></button>
                                        <ul class="dropdown-menu qty-sizes-menu" aria-labelledby="dLabel">
                                            <li class="margin-t-15">
                                                <div class="padding-l-15">
                                                    <p class="dropdown-title">luxury trade 85 gmbh</p>
                                                    <p class="dropdown-subtitle">ships from&#58; italy</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row select-remove">
                                                            <p class="col-md-12 text-center">Take All</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="detail-order">
                                                <div class="row margin-0">
                                                    <div class="col-md-4">
                                                        <p class="padding-l-15">size</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="align-center">order</p">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="detail-qty">qty</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="items">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3">
                                                        <p class="size">it&nbsp;<span>35.5</span></p>
                                                    </div>
                                                    <div class="col-md-2"><i class="fa fa-minus-square-o icon" aria-hidden="true"></i></div>
                                                    <div class="col-md-2"><span>0</span></div>
                                                    <div class="col-md-2"><span><i class="fa fa-plus-square-o icon" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 qty-details">of&nbsp;<span>0</span></div>
                                                </div>
                                            </li>
                                            <li class="margin-b-15 margin-t-10 text-center items row-items">
                                                <button class="button add-button">add to linesheet</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 nopadding">
                        </div>
                        <div class="col-md-4 nopadding">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4 margin-t-20">
                            <button class="button shopping-btn full-width" ui-sref="site.products">continue shopping<i class="fa fa-angle-right arrow padding-l-20" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>