﻿<div class="container description-container">
    <div class="row">
        <div class="col-md-12">
            <div class="navigation margin-t-10">
                <a href="#">Home</a>
                <span ng-bind="products.header"></span>
            </div>
            <div class="subtitle-home margin-t-20 left">
                <p class="first-subtitle subtitle" ng-bind="products.header"></p>
                <p class="second-subtitle text-left">We Have Collected Our Favorites For the Season</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 sidebar">
            <form>
                <h2 class="sidebar-title">Categories</h2>
                <div class="radio radio-box">
                    <input type="radio" id="woman" name="iCheck" />
                    <label for="woman" class="radio-label"><span></span>Woman</label>
                </div>
                <div class="radio radio-box">
                    <input type="radio" id="men" name="iCheck" />
                    <label for="men" class="radio-label"><span></span>Men</label>
                </div>
                <div class="radio radio-box">
                    <input type="radio" id="children" name="iCheck" />
                    <label for="children" class="radio-label"><span></span>Children</label>
                </div>
                <ul class="no-padding-l">
                    <li class="font-list">
                        <span class="caret margin-r-10"></span>Apparel
                        <ul class="apparel-list">
                            <li><span class="caret margin-r-10"></span>Dresses &#38; Skirts</li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="dresses" name="iCheck" />
                                    <label for="dresses"><span></span>Dresses</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="skirts" name="iCheck" />
                                    <label for="skirts"><span></span>Skirts</label>
                                </div>
                            </li>
                            <li><span class="caret margin-r-10"></span>Top &#38; Sweaters</li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="tops" name="iCheck" />
                                    <label for="tops"><span></span>Tops</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="sweaters" name="iCheck" />
                                    <label for="sweaters"><span></span>Sweaters</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="cardigans" name="iCheck" />
                                    <label for="cardigans"><span></span>Cardigans</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="jerseys" name="iCheck" />
                                    <label for="jerseys"><span></span>Jerseys</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="tshirts" name="iCheck" />
                                    <label for="tshirts"><span></span>T-shirts</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="polos" name="iCheck" />
                                    <label for="polos"><span></span>Polos</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="knitwear" name="iCheck" />
                                    <label for="knitwear"><span></span>Knitwear</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox check-box">
                                    <input type="checkbox" id="pullovers" name="iCheck" />
                                    <label for="pullovers"><span></span>Pullovers</label>
                                </div>
                            </li>
                            <li>
                                <span class="caret-right"></span>Denim &#38; pants
                            </li>
                            <li><span class="caret-right"></span>Outerwear</li>
                            <li><span class="caret-right "></span>Intimates</li>
                            <li><span class="caret-right"></span>Sport and Swim</li>
                        </ul>
                    </li>
                    <li class="font-list">
                        <span class="caret margin-r-10"></span>Non-Apparel
                        <ul class="apparel-list">
                            <li><span class="caret-right"></span>Shoes</li>
                            <li><span class="caret-right"></span>Bags &#38; Totes</li>
                            <li><span class="caret-right"></span>Small Leother Goods</li>
                            <li><span class="caret-right"></span>Accessories</li>
                            <li><span class="caret-right"></span>Watches</li>
                            <li><span class="caret-right"></span>Jewelry</li>
                            <li><span class="caret-right"></span>Beauty</li>
                        </ul>
                    </li>
                </ul>
                <h2 class="sidebar-title">Brands</h2>
                <ul class="no-padding-l">
                    <li>
                        <div class="checkbox check-box">
                            <input type="checkbox" id="katespade" name="iCheck" />
                            <label for="katespade"><span></span>Kate spade new york</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox check-box">
                            <input type="checkbox" id="vuitton" name="iCheck" />
                            <label for="vuitton"><span></span>Louis Vuitton</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox check-box">
                            <input type="checkbox" id="love" name="iCheck" />
                            <label for="love"><span></span>Love Sam</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox check-box">
                            <input type="checkbox" id="maje" name="iCheck" />
                            <label for="maje"><span></span>Maje</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox check-box">
                            <input type="checkbox" id="moncler" name="iCheck" />
                            <label for="moncler"><span></span>Moncler</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox check-box">
                            <input type="checkbox" id="oscar" name="iCheck" />
                            <label for="oscar"><span></span>Oscar de la Renta</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox check-box">
                            <input type="checkbox" id="sister" name="iCheck" />
                            <label for="sister"><span></span>Paul &#38; Joe Sister</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox check-box">
                            <input type="checkbox" id="prada" name="iCheck" />
                            <label for="prada"><span></span>Prada</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox check-box">
                            <input type="checkbox" id="taylor" name="iCheck" />
                            <label for="taylor"><span></span>Rebecca Taylor</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox check-box">
                            <input type="checkbox" id="paris" name="iCheck" />
                            <label for="paris"><span></span>Saint Lourent Paris</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox check-box">
                            <input type="checkbox" id="chloe" name="iCheck" />
                            <label for="chloe"><span></span>See by Chloe</label>
                        </div>
                    </li>
                </ul>
                <h2 class="sidebar-title">Color</h2>
                <div class="padding-l-20">
                    <div class="beige-color colors"></div>
                    <div class="black-color colors"></div>
                    <div class="blue-color colors"></div>
                    <div class="brown-color colors"></div>
                    <div class="green-color colors"></div>
                    <div class="gray-color colors"></div>
                    <br />
                    <!-- Rainbow color -->
                    <div class="orange-color colors"></div>
                    <div class="pink-color colors"></div>
                    <div class="purple-color colors"></div>
                    <div class="red-color colors"></div>
                    <div class="yellow-color colors"></div>
                    <br />
                    <!-- Black and white color-->
                    <div class="white-color colors"></div>
                </div>
            </form>
        </div>
        <div class="main-content nopadding col-md-9">
            <div class="row">
                <div class="shop-top">
                    <div class="navigation-shop col-md-6">
                        <span>Sort by&#58;</span>
                        <a href="#" class="active">Newest</a>
                        <a href="#">Price Low-High</a>
                        <a href="#">Price High-Low</a>
                    </div>
                    <div class="navigation-pages col-md-6">
                        <ul class="pagination nav-pages">
                            <li><a href="#" class="pages">View All</a></li>
                            <li><a href="#" class="pages">1</a></li>
                            <li><a href="#" class="pages">2</a></li>
                            <li><a href="#" class="pages">3</a></li>
                            <li><a href="#" class="pages">...</a></li>
                            <li><a href="#" class="pages">18</a></li>
                            <li><a href="#" class="pages">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="products-list col-md-12 nopadding">
                    <div class="row">
                        <div class="product col-md-3 nopadding" ui-sref="site.product-details">
                            <a href="#">
                                <img src="assets/images/products/a.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">GUCCI</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding" ui-sref="site.product-details">
                            <a href="#">
                                <img src="assets/images/products/b.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Marabelle</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding" ui-sref="site.product-details">
                            <a href="#">
                                <img src="assets/images/products/d.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Lafayette 148 New York</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$307.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding" ui-sref="site.product-details">
                            <a href="#">
                                <img src="assets/images/products/e.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Derek Lam 10 Crosby</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="products-list col-md-12 nopadding">
                    <div class="row">
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/a.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">GUCCI</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/b.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Marabelle</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/d.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Lafayette 148 New York</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$307.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/e.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Derek Lam 10 Crosby</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="products-list col-md-12 nopadding">
                    <div class="row">
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/a.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">GUCCI</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/b.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Marabelle</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/d.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Lafayette 148 New York</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$307.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/e.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Derek Lam 10 Crosby</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="products-list col-md-12 nopadding">
                    <div class="row">
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/a.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">GUCCI</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/b.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Marabelle</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/d.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Lafayette 148 New York</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$307.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/e.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Derek Lam 10 Crosby</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="products-list col-md-12 nopadding">
                    <div class="row">
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/a.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">GUCCI</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/b.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Marabelle</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/d.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Lafayette 148 New York</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$307.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/e.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Derek Lam 10 Crosby</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="products-list col-md-12 nopadding">
                    <div class="row">
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/a.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">GUCCI</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/b.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Marabelle</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/d.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Lafayette 148 New York</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$307.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/e.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Derek Lam 10 Crosby</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="products-list col-md-12 nopadding">
                    <div class="row">
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/a.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">GUCCI</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/b.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Marabelle</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/d.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Lafayette 148 New York</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$307.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/e.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Derek Lam 10 Crosby</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="products-list col-md-12 nopadding">
                    <div class="row">
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/a.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">GUCCI</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/b.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Marabelle</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/d.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Lafayette 148 New York</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$307.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/e.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Derek Lam 10 Crosby</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="products-list col-md-12 nopadding">
                    <div class="row">
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/a.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">GUCCI</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/b.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Marabelle</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/d.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Lafayette 148 New York</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$307.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/e.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Derek Lam 10 Crosby</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="products-list col-md-12 nopadding">
                    <div class="row">
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/a.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">GUCCI</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/b.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Marabelle</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/d.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Lafayette 148 New York</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$307.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/e.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Derek Lam 10 Crosby</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="products-list col-md-12 nopadding">
                    <div class="row">
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/a.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">GUCCI</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/b.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Marabelle</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/d.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Lafayette 148 New York</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$307.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/e.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Derek Lam 10 Crosby</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="products-list col-md-12 nopadding">
                    <div class="row">
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/a.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">GUCCI</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/b.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Marabelle</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/d.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Lafayette 148 New York</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$307.99</span></p>
                            </div>
                        </div>
                        <div class="product col-md-3 nopadding">
                            <a href="#">
                                <img src="assets/images/products/e.jpg" />
                            </a>
                            <div class="product-caption">
                                <a href="#" class="product-brand">Derek Lam 10 Crosby</a>
                                <span class="product-name">Kaelyn Hidden Button Jumpsuit</span>
                                <p class="product-price">Best price&#58; <span>$107.99</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 margin-t-30">
                    <div class="col-md-6"></div>
                    <div class="navigation-pages col-md-6 nopadding">
                        <ul class="pagination nav-pages">
                            <li><a href="#" class="pages">View All</a></li>
                            <li><a href="#" class="pages">1</a></li>
                            <li><a href="#" class="pages">2</a></li>
                            <li><a href="#" class="pages">3</a></li>
                            <li><a href="#" class="pages">...</a></li>
                            <li><a href="#" class="pages">18</a></li>
                            <li><a href="#" class="pages">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>