﻿
// Margin
.margin-0 {
    margin: 0;
}

.margin-b-10 {
    margin-bottom: 10px;
}

.margin-b-15 {
    margin-bottom: 15px;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.margin-b-30 {
    margin-bottom: 30px;
}

.margin-b-40 {
    margin-bottom: 40px;
}

.margin-b-60 {
    margin-bottom: 60px;
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-t-15 {
    margin-top: 15px;
}

.margin-t-20 {
    margin-top: 20px;
}

.margin-t-30 {
    margin-top: 30px;
}

.margin-t-40 {
    margin-top: 40px;
}

.margin-l-5 {
    margin-left: 5px;
}

.margin-l-20 {
    margin-left: 20px;
}

.margin-l-40 {
    margin-left: 40px;
}

.margin-r-5 {
    margin-right: 5px;
}

.margin-r-10 {
    margin-right: 10px;
}

// Padding
.no-margin-l {
    margin-left: 0px;
}

.no-margin-r {
    margin-right: 0px;
}

.nopadding {
    padding: 0px;
}

.no-padding-r {
    padding-right: 0px;
}

.no-padding-l {
    padding-left: 0px;
}

.padding-l-15 {
    padding-left: 15px;
}

.padding-l-20 {
    padding-left: 20px;
}

.padding-r-20 {
    padding-right: 20px;
}

// Align
.text-center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

// Colors classes
.medium-blue {
    color: $medium-blue;
}

.medium-blue-1 {
    color: $medium-blue-1;
}

.text-red {
    color: $red;
}

.text-left {
    text-align: left !important;
}
