﻿
// Colors
$white: #fff;
$light-white: #FBFBFB;
$black: #000;
//$gray: #747474;
$red: #e98787;
$red-1: #e18b87;
$red-2: #ea5555;
$light-red: rgba(233, 135, 135, 0.7);
$gray: #808080;
$gray-lighten-1: #e0e0e0;
$gray-lighten-2: #bfbfbf;
$gray-lighten-3: #a3a3a3;
$gray-lighten-4: #919191;
$gray-lighten-5: #f5f5f5;
$gray-lighten-6: #e5e5e5;
$gray-lighten-7: #d1d1d1;
$very-light-gray: #ededed;
$gray-gray: #F2F2F2;
$gray-darker-1: #494949;
$gray-arrow: #B3B3B3;
$light-gray: #cbcbcb;
$middle-gray: #555;
$dark-gray: #383838;
$dark-gray-1: #3D3D3D;
$moderat-orange: #c99947;
$pale-yellow: #ffeaab;
$blue: #0057FF;
$medium-blue: #4597c2;
$medium-blue-1: #4490B8;
$brown: #725614;
$green: #8AB300;
$light-green: rgba(138, 179,0, 0.7);
$orange: #F48600;
$pink: #E457D7;
$purple: #653D93;
$red: #DA1B00;
$yellow: #FCF100;
