﻿<!-- Start Header -->
<header id="header-luxury">
    <div class="container head">
        <div class="main-menu-wapper">
            <div class="row">
                <div class="col-sm-12 col-md-12 menu-wapper">
                    <div class="top-header">
                        <div class="row">
                            <div class="col-xs-2 col-sm-3 col-md-7 col-lg-4"></div>
                            <div class="col-sm-12 col-md-12 col-lg-4 logo">
                                <img src="assets/images/logos/3.png" alt="logo">
                            </div>
                            <div class="col-xs-10 col-sm-9 col-md-5 col-lg-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header-->

<ui-view></ui-view>

<!-- Footer -->
<div id="top-footer">
    <div class="container footer-m nopadding">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <span class="border-l"></span>
            </div>
            <div class="col-sm-12 col-md-2">
                <img src="assets/images/logos/2.png" alt="">
            </div>
            <div class="col-sm-12 col-md-5">
                <span class="border-l"></span>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="contact-info">
                        <h3 class="contact-title">About</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="contact-info">
                        <h3 class="contact-title">Customer Service</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="contact-info">
                        <h3 class="contact-title">Policies</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="contact-info">
                        <h3 class="contact-title">Contact</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="contact-info">
                        <h3 class="contact-title">&copy;Luxury Market 2016 </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End footer -->