﻿<div class="container login-container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 col-md-5 col-sm-6 login-home">
            <div class="title">Partner Log In</div>
            <form id="loginform" ng-submit="login.login()" name="login.loginForm" novalidate>
                <div class="submit-error" ng-show="login.hasError">{{login.error_message}}</div>
                <div class="form-group">
                    <label class="floating" ng-show="login.loginForm.userName.$dirty && !login.loginForm.userName.$error.required">EMAIL ADDRESS</label>
                    <input id="emailaddress" class="text" ng-model="login.loginModel.userName" ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,10}$/i" name="userName" placeholder="EMAIL ADDRESS" type="text" required />
                    <div class="error-messages" ng-messages="login.loginForm.userName.$error" ng-show="login.loginForm.userName.$dirty" role="alert">
                        <div ng-message="required" class="message">Email is required</div>
                        <div ng-message="pattern" class="message">Email is invalid</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="floating" ng-show="login.loginForm.password.$dirty && !login.loginForm.password.$error.required">PASSWORD</label>
                    <input id="password" class="text" ng-model="login.loginModel.password" name="password" placeholder="PASSWORD" type="password" required />
                    <div class="error-messages" ng-messages="login.loginForm.password.$error" ng-show="login.loginForm.password.$dirty" role="alert">
                        <div ng-message="required" class="message">Password is required</div>
                    </div>
                </div>
                <div class="form-group margin-0">
                    <a id="forgotpassword" href="#" ui-sref="auth.forgot-password">Forgot password</a>
                <div class="form-group">
                </div>
                <div class="form-group margin-0">
                    <button id="login" class="button margin-b-60" type="submit" ng-disabled="login.loginForm.$dirty && (login.loginForm.$invalid || login.isLoading)">
                        Login
                        <i class="fa fa-spinner spinning" ng-show="login.isLoading"></i>
                    </button>
                </div>
            </form>
            <div class="title">Not a Partner?</div>
            <button id="requestnewaccount" ui-sref="auth.register" class="button margin-b-60">Request a New Account</button>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>