﻿<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="auth-message">
                <p id="messageform" class="message" ng-bind="msg.message"></p>
                <a id="gotologin" href="#" ui-sref="auth.login">Go to Login</a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
