﻿<div class="container">
    <div class="row top-register margin-t-30">
        <div class="col-md-12">
            <div class="title">Partner Registration Request</div>
            <div class="sub-title">Luxury Market is reserved for registered members.<br />We will review your request and respond within 24 hours. Thank you!</div>
        </div>
    </div>
    <div class="row register margin-t-10">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <form id="registrationform" ng-submit="register.requestNewAccount()" name="register.registerForm" novalidate>
                <div class="form-group buyer-seller margin-t-30 margin-b-40">
                    <span>Registering As&#58;</span>
                    <input type="radio" id="buyerinput" name="companyType" ng-model="register.requestModel.companyType" value="1" />
                    <label for="buyerinput" id="buyer"><span></span>Buyer</label>
                    <input type="radio" id="sellerinput" name="companyType" ng-model="register.requestModel.companyType" value="2" />
                    <label id="seller" for="sellerinput"><span></span>Seller</label>
                </div>
                <div class="row double-input">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="floating" ng-show="register.registerForm.contactName.$dirty && !register.registerForm.contactName.$error.required">CONTACT NAME</label>
                            <input id="contactname" class="" ng-model="register.requestModel.contactName" ng-maxlength="35" name="contactName" placeholder="CONTACT NAME" type="text" required>
                            <div class="error-messages" ng-messages="register.registerForm.contactName.$error" ng-show="register.registerForm.contactName.$dirty" role="alert">
                                <div ng-message="required" class="message">Field is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="floating" ng-show="register.registerForm.companyName.$dirty && !register.registerForm.companyName.$error.required">COMPANY NAME</label>
                            <input id="companyname" class="" ng-model="register.requestModel.companyName" name="companyName" placeholder="COMPANY NAME" type="text" required>
                            <div class="error-messages" ng-messages="register.registerForm.companyName.$error" ng-show="register.registerForm.companyName.$dirty" role="alert">
                                <div ng-message="required" class="message">Field is required</div>
                                <div ng-message="maxlength" class="message">Company name is too long</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row double-input">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="floating" ng-show="register.registerForm.streetAddress.$dirty && !register.registerForm.streetAddress.$error.required">STREET ADDRESS</label>
                            <input id="streetaddrs" class="" ng-model="register.requestModel.streetAddress" ng-maxlength="100" name="streetAddress" placeholder="STREET ADDRESS" type="text" required>
                            <div class="error-messages" ng-messages="register.registerForm.streetAddress.$error" ng-show="register.registerForm.streetAddress.$dirty" role="alert">
                                <div ng-message="required" class="message">Field is required</div>
                                <div ng-message="maxlength" class="message">Address is too long</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="floating" ng-show="register.registerForm.city.$dirty && !register.registerForm.city.$error.required">CITY</label>
                            <input id="city" class="" ng-model="register.requestModel.city" ng-maxlength="25" name="city" placeholder="CITY" type="text" required>
                            <div class="error-messages" ng-messages="register.registerForm.city.$error" ng-show="register.registerForm.city.$dirty" role="alert">
                                <div ng-message="required" class="message">Field is required</div>
                                <div ng-message="maxlength" class="message">City is too long</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row double-input">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="floating" ng-show="register.registerForm.countryId.$dirty && !register.registerForm.countryId.$error.required">COUNTRY</label>
                            <select id="country" class="center" ng-change="register.updateStates()" name="countryId" ng-class="{'light' : register.registerForm.countryId.$error.required}" ng-options="item.id as item.countryName for item in register.countries" ng-model="register.requestModel.countryId" required></select>
                            <div class="error-messages" ng-messages="register.registerForm.countryId.$error" ng-show="register.registerForm.countryId.$dirty" role="alert">
                                <div ng-message="required" class="message">Field is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="floating" ng-show="register.registerForm.stateId.$dirty && !register.registerForm.stateId.$error.required">STATE or OTHER</label>
                            <select id="state" class="center" ng-disabled="register.registerForm.countryId.$error.required" name="stateId" ng-class="{'light' : register.registerForm.stateId.$error.required}" ng-options="item.stateId as item.stateName for item in register.states" ng-model="register.requestModel.stateId" required></select>
                            <div class="error-messages" ng-messages="register.registerForm.stateId.$error" ng-show="register.registerForm.stateId.$dirty" role="alert">
                                <div ng-message="required" class="message">Field is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row double-input">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="floating" ng-show="register.registerForm.zipCode.$dirty && !register.registerForm.zipCode.$error.required">ZIP CODE</label>
                            <input id="zip" class="" ng-model="register.requestModel.zipCode" ng-maxlength="11" name="zipCode" placeholder="ZIP CODE" type="text" required>
                            <div class="error-messages" ng-messages="register.registerForm.zipCode.$error" ng-show="register.registerForm.zipCode.$dirty" role="alert">
                                <div ng-message="required" class="message">Field is required</div>
                                <div ng-message="maxlength" class="message">Zipcode is too long</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="floating" ng-show="register.registerForm.retailId.$dirty && !register.registerForm.retailId.$error.required">RETAIL ID</label>
                            <input id="retailID" class="" ng-model="register.requestModel.retailId" ng-maxlength="50" name="retailId" placeholder="RETAIL ID" type="text" required>
                            <div class="error-messages" ng-messages="register.registerForm.retailId.$error" ng-show="register.registerForm.retailId.$dirty" role="alert">
                                <div ng-message="required" class="message">Field is required</div>
                                <div ng-message="maxlength" class="message">Retail ID is too long</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row double-input">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="floating" ng-show="register.registerForm.phoneNumber.$dirty && !register.registerForm.phoneNumber.$error.required">CONTACT PHONE NUMBER</label>
                            <input id="phonenumber" class="" ng-pattern="/^[0-9\s\-()+\.]+$/" ng-maxlength="20" ng-model="register.requestModel.phoneNumber" name="phoneNumber" placeholder="CONTACT PHONE NUMBER" type="text" required>
                            <div class="error-messages" ng-messages="register.registerForm.phoneNumber.$error" ng-show="register.registerForm.phoneNumber.$dirty" role="alert">
                                <div ng-message="required" class="message">Field is required</div>
                                <div ng-message="pattern" class="message">Phone is invalid</div>
                                <div ng-message="maxlength" class="message">Phone is invalid</div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="floating" ng-show="register.registerForm.website.$dirty && !register.registerForm.website.$error.required">COMPANY WEBSITE</label>
                            <input id="companywebsite" class="" ng-model="register.requestModel.website" ng-maxlength="50" name="website" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/" placeholder="COMPANY WEBSITE" type="text" required>
                            <div class="error-messages" ng-messages="register.registerForm.website.$error" ng-show="register.registerForm.website.$dirty" role="alert">
                                <div ng-message="required" class="message">Field is required</div>
                                <div ng-message="pattern" class="message">Url is invalid</div>
                                <div ng-message="maxlength" class="message">Url is too long</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row double-input">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="floating" ng-show="register.registerForm.email.$dirty && !register.registerForm.email.$error.required">CONTACT EMAIL</label>
                            <input id="contactemail" class="" ng-model="register.requestModel.email" ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,10}$/i" name="email" placeholder="CONTACT EMAIL" type="text" required>
                            <div class="error-messages" ng-messages="register.registerForm.email.$error" ng-show="register.registerForm.email.$dirty" role="alert">
                                <div ng-message="required" class="message">Field is required</div>
                                <div ng-message="pattern" class="message">Email is invalid</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="floating" ng-show="register.registerForm.reemail.$dirty && !register.registerForm.reemail.$error.required">REENTER CONTACT EMAIL</label>
                            <input id="confirmcontactemail" class="" ng-model="register.requestModel.reemail" compare-to="register.requestModel.email" ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,10}$/i" name="reemail" placeholder="REENTER CONTACT EMAIL" type="text" required>
                            <div class="error-messages" ng-messages="register.registerForm.reemail.$error" ng-show="register.registerForm.reemail.$dirty" role="alert">
                                <div ng-message="required" class="message">Field is required</div>
                                <div ng-message="pattern" class="message">Email is invalid</div>
                                <div ng-message="compareTo" class="message">Emails don't match</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group margin-b-10">
                            <label class="floating" ng-show="register.registerForm.description.$dirty && !register.registerForm.description.$error.required">BRIEF DESCRIPTION OF YOUR BUSINESS</label>
                            <textarea id="businessdescription" class="description-box" ng-model="register.requestModel.description" ng-maxlength="500" name="description" placeholder="BRIEF DESCRIPTION OF YOUR BUSINESS" rows="5" required></textarea>
                            <div class="error-messages" ng-messages="register.registerForm.description.$error" ng-show="register.registerForm.description.$dirty" role="alert">
                                <div ng-message="required" class="message">Field is required</div>
                                <div ng-message="maxlength" class="message">Description must have max 500 characters</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group terms margin-0">
                            <input type="checkbox" id="terms" name="agreeTC" ng-model="register.requestModel.agreeTC" required>
                            <label for="terms" id="termsconditionscheckbox" class="terms-font"><span></span>I agree to <a href="#" ui-sref="auth.terms" id="termsandconditionspage">Terms & Conditions</a></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button id="submit" class="button margin-b-20" type="submit" ng-disabled="register.registerForm.$dirty && (register.registerForm.$invalid || register.isLoading)">
                                Submit request
                                <i class="fa fa-spinner spinning" ng-show="register.isLoading"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row" ng-show="register.hasError">
                    <div class="col-md-12 text-center">
                        <div class="submit-error">{{register.error_message}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group text-center">
                            <a id="gotologincreateacc" href="#" ui-sref="auth.login">Go to Login</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>